---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Open Sans", Verdana, Arial, sans-serif;
$base-font-size:   16px;
$heading-font-size:   32px;
$base-font-weight: 400;
$base-font-weight-bold: 800;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #EBEBEB;
$brand-color:      #3a99d8;

$color-blue:       #3a99d8;
$color-bluelight:  #1e82ff;

$color-graylight:  #dedede;
$color-gray:       #b3b3b3;
$color-graydark:   #676262;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    960px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "flexboxgrid",
        "components/wrapper",
        "components/scroll",
        "components/animation-page",
        "components/font",
        "components/transition",
        "components/border",
        "components/nav-category",
        "components/well",
        "components/link",
        "components/list",
        "components/button",
        "components/button-back",
        "components/select",
        "components/figure",
        "components/code",
        "components/icon",
        "components/skill",
        "components/loop-hover"
;
