<!--

Gallery

-->

<figure class="">
    <img class="img-nopadding" style="left:0;" src="{{ page.img2 }}" alt="{{ page.imgdsc2 }}"/>
    <figcaption>{{ page.imgdsc2 }}</figcaption>
</figure>
<figure>
    <img class="img-nopadding" style="left:0;" src="{{ page.img3 }}" alt="{{ page.imgdsc3 }}"/>
    <figcaption>{{ page.imgdsc3 }}</figcaption>
</figure>
<figure>
    <img class="img-nopadding" style="left:0;" src="{{ page.img4 }}" alt="{{ page.imgdsc4 }}"/>
    <figcaption>{{ page.imgdsc4 }}</figcaption>
</figure>
<figure>
    <img class="img-nopadding" style="left:0;" src="{{ page.img5 }}" alt="{{ page.imgdsc5 }}"/>
    <figcaption>{{ page.imgdsc5 }}</figcaption>
</figure>
<figure>
    <img class="img-nopadding" style="left:0;" src="{{ page.img6 }}" alt="{{ page.imgdsc6 }}"/>
    <figcaption>{{ page.imgdsc6 }}</figcaption>
</figure>
<figure>
    <img class="img-nopadding" style="left:0;" src="{{ page.img7 }}" alt="{{ page.imgdsc7 }}"/>
    <figcaption>{{ page.imgdsc7 }}</figcaption>
</figure>

<style>
    
    
    @media only screen and (max-width: 62em) {
        figure {
    width: 100% !important;
}
    
    }
    
    </style>