<!--

Gallery

-->

<figure class="">
    <img class="img-nopadding" src="{{ page.tools1 }}" alt="{{ page.tools1 }}"/>
    <figcaption>{{ page.tools1 }}</figcaption>
</figure>
<style>
    
    
    @media only screen and (max-width: 62em) {
        figure {
    width: 100% !important;
}
    
    }
    
    </style>