       /**
 * Body styles to load imidiatelly 
 */

       /**
 * Reset some basic elements
 */

       * {
           margin: 0;
           padding: 0;
           box-sizing: border-box;
       }

       body {
           min-height: 100vh;
           background: #FAFAFA;
           font-family: "Open Sans", Verdana, Arial, sans-serif;
           margin: 0;
           box-sizing: border-box;
       }

       .wrapper .row {
           max-width: 900px;
           margin: 0 auto;
       }

       @keyframes fadeIn {
           0% {
               opacity: 0;
           }

           100% {
               opacity: 1;
           }
       }

       body .scene_element {
           animation-duration: 1s;
           transition-timing-function: ease-in;
           animation-fill-mode: both;
       }

       body .scene_element--fadein {
           animation-name: fadeIn;
       }

       body.is-exiting .scene_element {
           animation-direction: alternate-reverse;
       }

       .row {
           margin: 0;
           padding: 4vh 0;
           display: flex;
           flex-wrap: wrap;
       }


       .row.well {
           padding: 0;
           margin-bottom: 20px;
       }

       .col-sm-4,
       .col-sm-6,
       .col-sm-7,
       .col-sm-8,
       .col-sm-12 {
           box-sizing: border-box;
           flex-shrink: 0;
       }

       .col-sm-3 {
           flex-basis: 25%;
           max-width: 25%;
       }

       .col-sm-4 {
           flex-basis: 33.3333333333%;
           max-width: 33.3333333333%;
       }

       .col-sm-5 {
           flex-basis: 41.6666666667%;
           max-width: 41.6666666667%;
       }

       .col-sm-6 {
           flex-basis: 50%;
           max-width: 50%;
       }

       .col-sm-7 {
           flex-basis: 58.3333333333%;
           max-width: 58.3333333333%;
       }

       .col-sm-8 {
           flex-basis: 66.6666666667%;
           max-width: 66.6666666667%;
       }

       .col-sm-12 {
           flex-basis: 100%;
           max-width: 100%;
       }

       @media screen and (max-width:620px) {

           .col-xs-3 {
               flex-basis: 25%;
               max-width: 25%;
           }

           .col-xs-4 {
               flex-basis: 33.3333333333%;
               max-width: 33.3333333333%;
           }

           .col-xs-5 {
               flex-basis: 41.6666666667%;
               max-width: 41.6666666667%;
           }

           .col-xs-6 {
               flex-basis: 50%;
               max-width: 50%;
           }

           .col-xs-7 {
               flex-basis: 58.3333333333%;
               max-width: 58.3333333333%;
           }

           .col-xs-8 {
               flex-basis: 66.6666666667%;
               max-width: 66.6666666667%;
           }

           .col-xs-12 {
               flex-basis: 100%;
               max-width: 100%;
           }

       }



       /*-- Responsive CSS --*/
       @media screen and (max-width:620px) {

           .scrool-box {
               top: 80px;
               height: calc(100vh - 80px);
           }
       }



       .fake-header {
           display: block;
           height: 100px;
           width: 100%;
       }

       header {
           height: 100px;
           width: 100%;
           float: left;
           background: #fff;
           padding: 0 0 0 20px;
           color: #fff;
           position: fixed;
           z-index: 1;
           border-bottom: 1px solid #e3e4e4;
           margin: 0;
           box-sizing: border-box;
       }

       /*-- Logo --*/
       .brand {
           min-height: 45px;
           margin: 0 auto;
           display: flex;
           align-items: stretch;
           -webkit-flex: 1 1 auto;
           max-width: 174px;
           max-height: 100%;
           float: left;
           padding: 20px 0px;
       }

       .brand2 {
           display: none;
       }

       .brand a {
           color: #151616;
           font-family: "Montserrat", "Trebuchet MS", Helvetica, sans-serif;
           font-size: 26px;
           font-weight: 600;
           line-height: 70px;
           letter-spacing: 0px;
       }

       .brand a:hover {
           text-decoration: none;
       }

       .brand a span {
           color: #3a99d8;
           border: 6px solid #3a99d8;
           padding: 8px;
           margin-right: 8px;
       }

       /*-- Links --*/
       .navigation {
           float: right;
           margin: 0;
       }

       .navigation li {
           list-style: none;
           float: left;
       }

       .navigation li a {
           display: block;
           padding: 14px 10px;
           text-decoration: none;
           font-family: "Poppins", "Montserrat", "Trebuchet MS", Helvetica, sans-serif;
           font-size: 16px;
           font-weight: 600;
           color: #000;
           letter-spacing: 1px;
           line-height: 74px;
           text-transform: uppercase;
           border-left: 1px solid #e3e4e4;
           max-height: 100px;
       }


       .navigation li a:hover {
           color: #3a99d8;
           background-color: #e5eaff;
       }

       .navigation li a.active {
           color: #3a99d8;
       }

       .navigation li a i {
           width: 100%;
           font-size: 20px;
           margin-bottom: 7px;
       }

       /*-- Buttons --*/
       .show-menu-btn,
       .hide-menu-btn {
           transition: 0.4s;
           font-size: 30px;
           cursor: pointer;
           display: none;
       }

       .hide-menu-btn {
           width: 50px;
           height: 50px;
           padding: 10pxò
       }


       .show-menu-btn {
           position: absolute;
           right: 0;
           width: 80px;
           height: 80px;
           border: 0px solid;
           border-left: 1px solid #e3e4e4;
       }

       .show-menu-btn:hover {
           background-color: #e5eaff;
       }

       .show-menu-btn:after {
           content: "";
           position: absolute;
           top: 38px;
           width: .75em;
           height: .125em;
           border-top: .375em double #000;
           border-bottom: .125em solid #000;
           right: 28px;
       }

       .show-menu-btn i {
           line-height: 100px;
       }

       #toggle-btn {
           position: absolute;
           visibility: hidden;
           right: 0;
           width: 80px;
           height: 80px;
           background: transparent;
           border: 0px solid;
       }

       /*-- Responsive CSS --*/
       @media screen and (max-width:620px) {

           header,
           .fake-header {
               height: 80px;
               padding: 0 10px;
           }

           .brand {
               padding: 10px 0px;
           }

           .show-menu-btn:after {
               top: 30px;
           }


           .brand2 {
               display: block;
               margin-bottom: 20px;
               min-width: 300px;
           }

           .brand2 a span {
               color: #FFF;
               border: 6px solid #FFF;
               padding: 8px;
               margin-right: 8px;
           }

           .show-menu-btn,
           .hide-menu-btn {
               display: block;
           }

           /*-- Links --*/
           .navigation {
               position: fixed;
               width: 100%;
               height: 100vh;
               background: #3a99d8;
               top: -100vh;
               left: 0;
               transition: .3s;
               z-index: 2;
               opacity: 0;
           }

           .navigation li {
               width: 100%;
               list-style: none;
           }

           .navigation li a {
               padding: 15px 15px;
               text-align: left;
               font-size: 42px;
               line-height: 0.7;
               color: rgba(255, 255, 255, 0.6);
               height: 100%;
           }

           .navigation li a.active {
               color: #FFF;
           }

           .navigation li a:hover {
               color: white;
           }

           .navigation li a i {
               width: auto;
               font-size: 20px;
           }

           /*-- Buttons --*/
           .hide-menu-btn {
               position: absolute;
               top: 2px;
               right: 20px;
               font-weight: 400;
               font-family: "Poppins", "Montserrat", "Trebuchet MS", Helvetica, sans-serif;
               font-size: 50px;
               opacity: .3;
               color: white;
           }

           #toggle-btn:checked ~ nav .navigation {
               top: 0px;
               opacity: 1;
           }
}


           body,
           h1,
           h2,
           h3,
           h4,
           h5,
           h6,
           p,
           blockquote,
           pre,
           hr,
           dl,
           dd,
           ol,
           ul,
           figure {
               margin: 0;
               padding: 0
           }

           img {
               max-width: 100%
           }

           blockquote {
               border-left: 4px solid #e8e8e8;
               padding-left: 15px;
               font-style: italic;
               margin-top: 8px
           }

           blockquote > :last-child {
               margin-bottom: 0
           }

           hr {
               border: 1px solid #e3e4e4
           }

           .clearfix:after,
           .wrapper .row:after {
               content: "";
               display: table;
               clear: both
           }

           .img-nopadding {
               width: 100%;
               height: auto;
               align-content: stretch;
               object-fit: cover;
               padding: 0
           }

           @media only screen and (max-width: 767px) {
               .display-notmobile {
                   display: none
               }

               #scene {
                   display: none
               }
           }

           .wrapper .row {
               box-sizing: border-box;
               max-width: 1200px;
               margin: 0 auto
           }

           .container-fluid {
               margin-right: auto;
               margin-left: auto;
               padding-right: 2rem;
               padding-left: 2rem
           }

           .row {
               box-sizing: border-box;
               display: -webkit-box;
               display: -webkit-flex;
               display: -moz-flex;
               display: -ms-flexbox;
               display: flex;
               -webkit-box-flex: 0;
               -webkit-flex: 0 1 auto;
               -moz-box-flex: 0;
               -moz-flex: 0 1 auto;
               -ms-flex: 0 1 auto;
               flex: 0 1 auto;
               -webkit-box-direction: normal;
               -webkit-box-orient: horizontal;
               -webkit-flex-direction: row;
               -moz-flex-direction: row;
               -ms-flex-direction: row;
               flex-direction: row;
               -webkit-flex-wrap: wrap;
               -moz-flex-wrap: wrap;
               -ms-flex-wrap: wrap;
               flex-wrap: wrap
           }

           .row.reverse {
               -webkit-box-direction: reverse;
               -webkit-box-orient: horizontal;
               -webkit-flex-direction: row-reverse;
               -moz-flex-direction: row-reverse;
               -ms-flex-direction: row-reverse;
               flex-direction: row-reverse
           }

           .col.reverse {
               -webkit-box-direction: reverse;
               -webkit-box-orient: vertical;
               -webkit-flex-direction: column-reverse;
               -moz-flex-direction: column-reverse;
               -ms-flex-direction: column-reverse;
               flex-direction: column-reverse
           }

           .col-xs {
               box-sizing: border-box;
               -webkit-box-flex: 0;
               -webkit-flex-grow: 0;
               -moz-flex-grow: 0;
               -ms-flex-positive: 0;
               flex-grow: 0;
               -webkit-flex-shrink: 0;
               -moz-flex-shrink: 0;
               -ms-flex-negative: 0;
               flex-shrink: 0;
               -webkit-flex-basis: auto;
               -moz-flex-basis: auto;
               -ms-flex-preferred-size: auto;
               flex-basis: auto
           }

           .col-xs-1 {
               box-sizing: border-box;
               -webkit-box-flex: 0;
               -webkit-flex-grow: 0;
               -moz-flex-grow: 0;
               -ms-flex-positive: 0;
               flex-grow: 0;
               -webkit-flex-shrink: 0;
               -moz-flex-shrink: 0;
               -ms-flex-negative: 0;
               flex-shrink: 0;
               -webkit-flex-basis: 8.3333333333%;
               -moz-flex-basis: 8.3333333333%;
               -ms-flex-preferred-size: 8.3333333333%;
               flex-basis: 8.3333333333%;
               max-width: 8.3333333333%
           }

           .col-xs-2 {
               box-sizing: border-box;
               -webkit-box-flex: 0;
               -webkit-flex-grow: 0;
               -moz-flex-grow: 0;
               -ms-flex-positive: 0;
               flex-grow: 0;
               -webkit-flex-shrink: 0;
               -moz-flex-shrink: 0;
               -ms-flex-negative: 0;
               flex-shrink: 0;
               -webkit-flex-basis: 16.6666666667%;
               -moz-flex-basis: 16.6666666667%;
               -ms-flex-preferred-size: 16.6666666667%;
               flex-basis: 16.6666666667%;
               max-width: 16.6666666667%
           }

           .col-xs-3 {
               box-sizing: border-box;
               -webkit-box-flex: 0;
               -webkit-flex-grow: 0;
               -moz-flex-grow: 0;
               -ms-flex-positive: 0;
               flex-grow: 0;
               -webkit-flex-shrink: 0;
               -moz-flex-shrink: 0;
               -ms-flex-negative: 0;
               flex-shrink: 0;
               -webkit-flex-basis: 25%;
               -moz-flex-basis: 25%;
               -ms-flex-preferred-size: 25%;
               flex-basis: 25%;
               max-width: 25%
           }

           .col-xs-4 {
               box-sizing: border-box;
               -webkit-box-flex: 0;
               -webkit-flex-grow: 0;
               -moz-flex-grow: 0;
               -ms-flex-positive: 0;
               flex-grow: 0;
               -webkit-flex-shrink: 0;
               -moz-flex-shrink: 0;
               -ms-flex-negative: 0;
               flex-shrink: 0;
               -webkit-flex-basis: 33.3333333333%;
               -moz-flex-basis: 33.3333333333%;
               -ms-flex-preferred-size: 33.3333333333%;
               flex-basis: 33.3333333333%;
               max-width: 33.3333333333%
           }

           .col-xs-5 {
               box-sizing: border-box;
               -webkit-box-flex: 0;
               -webkit-flex-grow: 0;
               -moz-flex-grow: 0;
               -ms-flex-positive: 0;
               flex-grow: 0;
               -webkit-flex-shrink: 0;
               -moz-flex-shrink: 0;
               -ms-flex-negative: 0;
               flex-shrink: 0;
               -webkit-flex-basis: 41.6666666667%;
               -moz-flex-basis: 41.6666666667%;
               -ms-flex-preferred-size: 41.6666666667%;
               flex-basis: 41.6666666667%;
               max-width: 41.6666666667%
           }

           .col-xs-6 {
               box-sizing: border-box;
               -webkit-box-flex: 0;
               -webkit-flex-grow: 0;
               -moz-flex-grow: 0;
               -ms-flex-positive: 0;
               flex-grow: 0;
               -webkit-flex-shrink: 0;
               -moz-flex-shrink: 0;
               -ms-flex-negative: 0;
               flex-shrink: 0;
               -webkit-flex-basis: 50%;
               -moz-flex-basis: 50%;
               -ms-flex-preferred-size: 50%;
               flex-basis: 50%;
               max-width: 50%
           }

           .col-xs-7 {
               box-sizing: border-box;
               -webkit-box-flex: 0;
               -webkit-flex-grow: 0;
               -moz-flex-grow: 0;
               -ms-flex-positive: 0;
               flex-grow: 0;
               -webkit-flex-shrink: 0;
               -moz-flex-shrink: 0;
               -ms-flex-negative: 0;
               flex-shrink: 0;
               -webkit-flex-basis: 58.3333333333%;
               -moz-flex-basis: 58.3333333333%;
               -ms-flex-preferred-size: 58.3333333333%;
               flex-basis: 58.3333333333%;
               max-width: 58.3333333333%
           }

           .col-xs-8 {
               box-sizing: border-box;
               -webkit-box-flex: 0;
               -webkit-flex-grow: 0;
               -moz-flex-grow: 0;
               -ms-flex-positive: 0;
               flex-grow: 0;
               -webkit-flex-shrink: 0;
               -moz-flex-shrink: 0;
               -ms-flex-negative: 0;
               flex-shrink: 0;
               -webkit-flex-basis: 66.6666666667%;
               -moz-flex-basis: 66.6666666667%;
               -ms-flex-preferred-size: 66.6666666667%;
               flex-basis: 66.6666666667%;
               max-width: 66.6666666667%
           }

           .col-xs-9 {
               box-sizing: border-box;
               -webkit-box-flex: 0;
               -webkit-flex-grow: 0;
               -moz-flex-grow: 0;
               -ms-flex-positive: 0;
               flex-grow: 0;
               -webkit-flex-shrink: 0;
               -moz-flex-shrink: 0;
               -ms-flex-negative: 0;
               flex-shrink: 0;
               -webkit-flex-basis: 75%;
               -moz-flex-basis: 75%;
               -ms-flex-preferred-size: 75%;
               flex-basis: 75%;
               max-width: 75%
           }

           .col-xs-10 {
               box-sizing: border-box;
               -webkit-box-flex: 0;
               -webkit-flex-grow: 0;
               -moz-flex-grow: 0;
               -ms-flex-positive: 0;
               flex-grow: 0;
               -webkit-flex-shrink: 0;
               -moz-flex-shrink: 0;
               -ms-flex-negative: 0;
               flex-shrink: 0;
               -webkit-flex-basis: 83.3333333333%;
               -moz-flex-basis: 83.3333333333%;
               -ms-flex-preferred-size: 83.3333333333%;
               flex-basis: 83.3333333333%;
               max-width: 83.3333333333%
           }

           .col-xs-11 {
               box-sizing: border-box;
               -webkit-box-flex: 0;
               -webkit-flex-grow: 0;
               -moz-flex-grow: 0;
               -ms-flex-positive: 0;
               flex-grow: 0;
               -webkit-flex-shrink: 0;
               -moz-flex-shrink: 0;
               -ms-flex-negative: 0;
               flex-shrink: 0;
               -webkit-flex-basis: 91.6666666667%;
               -moz-flex-basis: 91.6666666667%;
               -ms-flex-preferred-size: 91.6666666667%;
               flex-basis: 91.6666666667%;
               max-width: 91.6666666667%
           }

           .col-xs-12 {
               box-sizing: border-box;
               -webkit-box-flex: 0;
               -webkit-flex-grow: 0;
               -moz-flex-grow: 0;
               -ms-flex-positive: 0;
               flex-grow: 0;
               -webkit-flex-shrink: 0;
               -moz-flex-shrink: 0;
               -ms-flex-negative: 0;
               flex-shrink: 0;
               -webkit-flex-basis: 100%;
               -moz-flex-basis: 100%;
               -ms-flex-preferred-size: 100%;
               flex-basis: 100%;
               max-width: 100%
           }

           .col-xs-offset-0 {
               box-sizing: border-box;
               -webkit-box-flex: 0;
               -webkit-flex-grow: 0;
               -moz-flex-grow: 0;
               -ms-flex-positive: 0;
               flex-grow: 0;
               -webkit-flex-shrink: 0;
               -moz-flex-shrink: 0;
               -ms-flex-negative: 0;
               flex-shrink: 0;
               margin-left: 0
           }

           .col-xs-offset-1 {
               box-sizing: border-box;
               -webkit-box-flex: 0;
               -webkit-flex-grow: 0;
               -moz-flex-grow: 0;
               -ms-flex-positive: 0;
               flex-grow: 0;
               -webkit-flex-shrink: 0;
               -moz-flex-shrink: 0;
               -ms-flex-negative: 0;
               flex-shrink: 0;
               margin-left: 8.3333333333%
           }

           .col-xs-offset-2 {
               box-sizing: border-box;
               -webkit-box-flex: 0;
               -webkit-flex-grow: 0;
               -moz-flex-grow: 0;
               -ms-flex-positive: 0;
               flex-grow: 0;
               -webkit-flex-shrink: 0;
               -moz-flex-shrink: 0;
               -ms-flex-negative: 0;
               flex-shrink: 0;
               margin-left: 16.6666666667%
           }

           .col-xs-offset-3 {
               box-sizing: border-box;
               -webkit-box-flex: 0;
               -webkit-flex-grow: 0;
               -moz-flex-grow: 0;
               -ms-flex-positive: 0;
               flex-grow: 0;
               -webkit-flex-shrink: 0;
               -moz-flex-shrink: 0;
               -ms-flex-negative: 0;
               flex-shrink: 0;
               margin-left: 25%
           }

           .col-xs-offset-4 {
               box-sizing: border-box;
               -webkit-box-flex: 0;
               -webkit-flex-grow: 0;
               -moz-flex-grow: 0;
               -ms-flex-positive: 0;
               flex-grow: 0;
               -webkit-flex-shrink: 0;
               -moz-flex-shrink: 0;
               -ms-flex-negative: 0;
               flex-shrink: 0;
               margin-left: 33.3333333333%
           }

           .col-xs-offset-5 {
               box-sizing: border-box;
               -webkit-box-flex: 0;
               -webkit-flex-grow: 0;
               -moz-flex-grow: 0;
               -ms-flex-positive: 0;
               flex-grow: 0;
               -webkit-flex-shrink: 0;
               -moz-flex-shrink: 0;
               -ms-flex-negative: 0;
               flex-shrink: 0;
               margin-left: 41.6666666667%
           }

           .col-xs-offset-6 {
               box-sizing: border-box;
               -webkit-box-flex: 0;
               -webkit-flex-grow: 0;
               -moz-flex-grow: 0;
               -ms-flex-positive: 0;
               flex-grow: 0;
               -webkit-flex-shrink: 0;
               -moz-flex-shrink: 0;
               -ms-flex-negative: 0;
               flex-shrink: 0;
               margin-left: 50%
           }

           .col-xs-offset-7 {
               box-sizing: border-box;
               -webkit-box-flex: 0;
               -webkit-flex-grow: 0;
               -moz-flex-grow: 0;
               -ms-flex-positive: 0;
               flex-grow: 0;
               -webkit-flex-shrink: 0;
               -moz-flex-shrink: 0;
               -ms-flex-negative: 0;
               flex-shrink: 0;
               margin-left: 58.3333333333%
           }

           .col-xs-offset-8 {
               box-sizing: border-box;
               -webkit-box-flex: 0;
               -webkit-flex-grow: 0;
               -moz-flex-grow: 0;
               -ms-flex-positive: 0;
               flex-grow: 0;
               -webkit-flex-shrink: 0;
               -moz-flex-shrink: 0;
               -ms-flex-negative: 0;
               flex-shrink: 0;
               margin-left: 66.6666666667%
           }

           .col-xs-offset-9 {
               box-sizing: border-box;
               -webkit-box-flex: 0;
               -webkit-flex-grow: 0;
               -moz-flex-grow: 0;
               -ms-flex-positive: 0;
               flex-grow: 0;
               -webkit-flex-shrink: 0;
               -moz-flex-shrink: 0;
               -ms-flex-negative: 0;
               flex-shrink: 0;
               margin-left: 75%
           }

           .col-xs-offset-10 {
               box-sizing: border-box;
               -webkit-box-flex: 0;
               -webkit-flex-grow: 0;
               -moz-flex-grow: 0;
               -ms-flex-positive: 0;
               flex-grow: 0;
               -webkit-flex-shrink: 0;
               -moz-flex-shrink: 0;
               -ms-flex-negative: 0;
               flex-shrink: 0;
               margin-left: 83.3333333333%
           }

           .col-xs-offset-11 {
               box-sizing: border-box;
               -webkit-box-flex: 0;
               -webkit-flex-grow: 0;
               -moz-flex-grow: 0;
               -ms-flex-positive: 0;
               flex-grow: 0;
               -webkit-flex-shrink: 0;
               -moz-flex-shrink: 0;
               -ms-flex-negative: 0;
               flex-shrink: 0;
               margin-left: 91.6666666667%
           }

           .col-xs-offset-12 {
               box-sizing: border-box;
               -webkit-box-flex: 0;
               -webkit-flex-grow: 0;
               -moz-flex-grow: 0;
               -ms-flex-positive: 0;
               flex-grow: 0;
               -webkit-flex-shrink: 0;
               -moz-flex-shrink: 0;
               -ms-flex-negative: 0;
               flex-shrink: 0;
               margin-left: 100%
           }

           .col-xs {
               -webkit-box-flex: 1;
               -webkit-flex-grow: 1;
               -moz-flex-grow: 1;
               -ms-flex-positive: 1;
               flex-grow: 1;
               -webkit-flex-basis: 0;
               -moz-flex-basis: 0;
               -ms-flex-preferred-size: 0;
               flex-basis: 0;
               max-width: 100%
           }

           .start-xs {
               -webkit-box-pack: start;
               -ms-flex-pack: start;
               -webkit-justify-content: flex-start;
               -moz-justify-content: flex-start;
               justify-content: flex-start;
               text-align: left
           }

           .center-xs {
               -webkit-box-pack: center;
               -ms-flex-pack: center;
               -webkit-justify-content: center;
               -moz-justify-content: center;
               justify-content: center;
               text-align: center
           }

           .end-xs {
               -webkit-box-pack: end;
               -ms-flex-pack: end;
               -webkit-justify-content: flex-end;
               -moz-justify-content: flex-end;
               justify-content: flex-end;
               text-align: right
           }

           .top-xs {
               -webkit-box-align: start;
               -ms-flex-align: start;
               -webkit-align-items: flex-start;
               -moz-align-items: flex-start;
               align-items: flex-start
           }

           .middle-xs {
               -webkit-box-align: center;
               -ms-flex-align: center;
               -webkit-align-items: center;
               -moz-align-items: center;
               align-items: center
           }

           .bottom-xs {
               -webkit-box-align: end;
               -ms-flex-align: end;
               -webkit-align-items: flex-end;
               -moz-align-items: flex-end;
               align-items: flex-end
           }

           .around-xs {
               -ms-flex-pack: distribute;
               -webkit-justify-content: space-around;
               -moz-justify-content: space-around;
               justify-content: space-around
           }

           .between-xs {
               -webkit-box-pack: justify;
               -ms-flex-pack: justify;
               -webkit-justify-content: space-between;
               -moz-justify-content: space-between;
               justify-content: space-between
           }

           .first-xs {
               order: -1
           }

           .last-xs {
               order: 1
           }

           @media only screen and (min-width: 38em) {
               .container {
                   width: 46rem
               }

               .col-sm {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   -webkit-flex-basis: auto;
                   -moz-flex-basis: auto;
                   -ms-flex-preferred-size: auto;
                   flex-basis: auto
               }

               .col-sm-1 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   -webkit-flex-basis: 8.3333333333%;
                   -moz-flex-basis: 8.3333333333%;
                   -ms-flex-preferred-size: 8.3333333333%;
                   flex-basis: 8.3333333333%;
                   max-width: 8.3333333333%
               }

               .col-sm-2 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   -webkit-flex-basis: 16.6666666667%;
                   -moz-flex-basis: 16.6666666667%;
                   -ms-flex-preferred-size: 16.6666666667%;
                   flex-basis: 16.6666666667%;
                   max-width: 16.6666666667%
               }

               .col-sm-3 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   -webkit-flex-basis: 25%;
                   -moz-flex-basis: 25%;
                   -ms-flex-preferred-size: 25%;
                   flex-basis: 25%;
                   max-width: 25%
               }

               .col-sm-4 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   -webkit-flex-basis: 33.3333333333%;
                   -moz-flex-basis: 33.3333333333%;
                   -ms-flex-preferred-size: 33.3333333333%;
                   flex-basis: 33.3333333333%;
                   max-width: 33.3333333333%
               }

               .col-sm-5 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   -webkit-flex-basis: 41.6666666667%;
                   -moz-flex-basis: 41.6666666667%;
                   -ms-flex-preferred-size: 41.6666666667%;
                   flex-basis: 41.6666666667%;
                   max-width: 41.6666666667%
               }

               .col-sm-6 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   -webkit-flex-basis: 50%;
                   -moz-flex-basis: 50%;
                   -ms-flex-preferred-size: 50%;
                   flex-basis: 50%;
                   max-width: 50%
               }

               .col-sm-7 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   -webkit-flex-basis: 58.3333333333%;
                   -moz-flex-basis: 58.3333333333%;
                   -ms-flex-preferred-size: 58.3333333333%;
                   flex-basis: 58.3333333333%;
                   max-width: 58.3333333333%
               }

               .col-sm-8 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   -webkit-flex-basis: 66.6666666667%;
                   -moz-flex-basis: 66.6666666667%;
                   -ms-flex-preferred-size: 66.6666666667%;
                   flex-basis: 66.6666666667%;
                   max-width: 66.6666666667%
               }

               .col-sm-9 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   -webkit-flex-basis: 75%;
                   -moz-flex-basis: 75%;
                   -ms-flex-preferred-size: 75%;
                   flex-basis: 75%;
                   max-width: 75%
               }

               .col-sm-10 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   -webkit-flex-basis: 83.3333333333%;
                   -moz-flex-basis: 83.3333333333%;
                   -ms-flex-preferred-size: 83.3333333333%;
                   flex-basis: 83.3333333333%;
                   max-width: 83.3333333333%
               }

               .col-sm-11 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   -webkit-flex-basis: 91.6666666667%;
                   -moz-flex-basis: 91.6666666667%;
                   -ms-flex-preferred-size: 91.6666666667%;
                   flex-basis: 91.6666666667%;
                   max-width: 91.6666666667%
               }

               .col-sm-12 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   -webkit-flex-basis: 100%;
                   -moz-flex-basis: 100%;
                   -ms-flex-preferred-size: 100%;
                   flex-basis: 100%;
                   max-width: 100%
               }

               .col-sm-offset-0 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   margin-left: 0
               }

               .col-sm-offset-1 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   margin-left: 8.3333333333%
               }

               .col-sm-offset-2 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   margin-left: 16.6666666667%
               }

               .col-sm-offset-3 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   margin-left: 25%
               }

               .col-sm-offset-4 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   margin-left: 33.3333333333%
               }

               .col-sm-offset-5 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   margin-left: 41.6666666667%
               }

               .col-sm-offset-6 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   margin-left: 50%
               }

               .col-sm-offset-7 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   margin-left: 58.3333333333%
               }

               .col-sm-offset-8 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   margin-left: 66.6666666667%
               }

               .col-sm-offset-9 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   margin-left: 75%
               }

               .col-sm-offset-10 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   margin-left: 83.3333333333%
               }

               .col-sm-offset-11 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   margin-left: 91.6666666667%
               }

               .col-sm-offset-12 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   margin-left: 100%
               }

               .col-sm {
                   -webkit-box-flex: 1;
                   -webkit-flex-grow: 1;
                   -moz-flex-grow: 1;
                   -ms-flex-positive: 1;
                   flex-grow: 1;
                   -webkit-flex-basis: 0;
                   -moz-flex-basis: 0;
                   -ms-flex-preferred-size: 0;
                   flex-basis: 0;
                   max-width: 100%
               }

               .start-sm {
                   -webkit-box-pack: start;
                   -ms-flex-pack: start;
                   -webkit-justify-content: flex-start;
                   -moz-justify-content: flex-start;
                   justify-content: flex-start;
                   text-align: left
               }

               .center-sm {
                   -webkit-box-pack: center;
                   -ms-flex-pack: center;
                   -webkit-justify-content: center;
                   -moz-justify-content: center;
                   justify-content: center;
                   text-align: center
               }

               .end-sm {
                   -webkit-box-pack: end;
                   -ms-flex-pack: end;
                   -webkit-justify-content: flex-end;
                   -moz-justify-content: flex-end;
                   justify-content: flex-end;
                   text-align: right
               }

               .top-sm {
                   -webkit-box-align: start;
                   -ms-flex-align: start;
                   -webkit-align-items: flex-start;
                   -moz-align-items: flex-start;
                   align-items: flex-start
               }

               .middle-sm {
                   -webkit-box-align: center;
                   -ms-flex-align: center;
                   -webkit-align-items: center;
                   -moz-align-items: center;
                   align-items: center
               }

               .bottom-sm {
                   -webkit-box-align: end;
                   -ms-flex-align: end;
                   -webkit-align-items: flex-end;
                   -moz-align-items: flex-end;
                   align-items: flex-end
               }

               .around-sm {
                   -ms-flex-pack: distribute;
                   -webkit-justify-content: space-around;
                   -moz-justify-content: space-around;
                   justify-content: space-around
               }

               .between-sm {
                   -webkit-box-pack: justify;
                   -ms-flex-pack: justify;
                   -webkit-justify-content: space-between;
                   -moz-justify-content: space-between;
                   justify-content: space-between
               }

               .first-sm {
                   order: -1
               }

               .last-sm {
                   order: 1
               }
           }

           @media only screen and (min-width: 62em) {
               .container {
                   width: 61rem
               }

               .col-md {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   -webkit-flex-basis: auto;
                   -moz-flex-basis: auto;
                   -ms-flex-preferred-size: auto;
                   flex-basis: auto
               }

               .col-md-1 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   -webkit-flex-basis: 8.3333333333%;
                   -moz-flex-basis: 8.3333333333%;
                   -ms-flex-preferred-size: 8.3333333333%;
                   flex-basis: 8.3333333333%;
                   max-width: 8.3333333333%
               }

               .col-md-2 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   -webkit-flex-basis: 16.6666666667%;
                   -moz-flex-basis: 16.6666666667%;
                   -ms-flex-preferred-size: 16.6666666667%;
                   flex-basis: 16.6666666667%;
                   max-width: 16.6666666667%
               }

               .col-md-3 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   -webkit-flex-basis: 25%;
                   -moz-flex-basis: 25%;
                   -ms-flex-preferred-size: 25%;
                   flex-basis: 25%;
                   max-width: 25%
               }

               .col-md-4 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   -webkit-flex-basis: 33.3333333333%;
                   -moz-flex-basis: 33.3333333333%;
                   -ms-flex-preferred-size: 33.3333333333%;
                   flex-basis: 33.3333333333%;
                   max-width: 33.3333333333%
               }

               .col-md-5 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   -webkit-flex-basis: 41.6666666667%;
                   -moz-flex-basis: 41.6666666667%;
                   -ms-flex-preferred-size: 41.6666666667%;
                   flex-basis: 41.6666666667%;
                   max-width: 41.6666666667%
               }

               .col-md-6 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   -webkit-flex-basis: 50%;
                   -moz-flex-basis: 50%;
                   -ms-flex-preferred-size: 50%;
                   flex-basis: 50%;
                   max-width: 50%
               }

               .col-md-7 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   -webkit-flex-basis: 58.3333333333%;
                   -moz-flex-basis: 58.3333333333%;
                   -ms-flex-preferred-size: 58.3333333333%;
                   flex-basis: 58.3333333333%;
                   max-width: 58.3333333333%
               }

               .col-md-8 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   -webkit-flex-basis: 66.6666666667%;
                   -moz-flex-basis: 66.6666666667%;
                   -ms-flex-preferred-size: 66.6666666667%;
                   flex-basis: 66.6666666667%;
                   max-width: 66.6666666667%
               }

               .col-md-9 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   -webkit-flex-basis: 75%;
                   -moz-flex-basis: 75%;
                   -ms-flex-preferred-size: 75%;
                   flex-basis: 75%;
                   max-width: 75%
               }

               .col-md-10 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   -webkit-flex-basis: 83.3333333333%;
                   -moz-flex-basis: 83.3333333333%;
                   -ms-flex-preferred-size: 83.3333333333%;
                   flex-basis: 83.3333333333%;
                   max-width: 83.3333333333%
               }

               .col-md-11 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   -webkit-flex-basis: 91.6666666667%;
                   -moz-flex-basis: 91.6666666667%;
                   -ms-flex-preferred-size: 91.6666666667%;
                   flex-basis: 91.6666666667%;
                   max-width: 91.6666666667%
               }

               .col-md-12 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   -webkit-flex-basis: 100%;
                   -moz-flex-basis: 100%;
                   -ms-flex-preferred-size: 100%;
                   flex-basis: 100%;
                   max-width: 100%
               }

               .col-md-offset-0 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   margin-left: 0
               }

               .col-md-offset-1 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   margin-left: 8.3333333333%
               }

               .col-md-offset-2 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   margin-left: 16.6666666667%
               }

               .col-md-offset-3 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   margin-left: 25%
               }

               .col-md-offset-4 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   margin-left: 33.3333333333%
               }

               .col-md-offset-5 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   margin-left: 41.6666666667%
               }

               .col-md-offset-6 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   margin-left: 50%
               }

               .col-md-offset-7 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   margin-left: 58.3333333333%
               }

               .col-md-offset-8 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   margin-left: 66.6666666667%
               }

               .col-md-offset-9 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   margin-left: 75%
               }

               .col-md-offset-10 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   margin-left: 83.3333333333%
               }

               .col-md-offset-11 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   margin-left: 91.6666666667%
               }

               .col-md-offset-12 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   margin-left: 100%
               }

               .col-md {
                   -webkit-box-flex: 1;
                   -webkit-flex-grow: 1;
                   -moz-flex-grow: 1;
                   -ms-flex-positive: 1;
                   flex-grow: 1;
                   -webkit-flex-basis: 0;
                   -moz-flex-basis: 0;
                   -ms-flex-preferred-size: 0;
                   flex-basis: 0;
                   max-width: 100%
               }

               .start-md {
                   -webkit-box-pack: start;
                   -ms-flex-pack: start;
                   -webkit-justify-content: flex-start;
                   -moz-justify-content: flex-start;
                   justify-content: flex-start;
                   text-align: left
               }

               .center-md {
                   -webkit-box-pack: center;
                   -ms-flex-pack: center;
                   -webkit-justify-content: center;
                   -moz-justify-content: center;
                   justify-content: center;
                   text-align: center
               }

               .end-md {
                   -webkit-box-pack: end;
                   -ms-flex-pack: end;
                   -webkit-justify-content: flex-end;
                   -moz-justify-content: flex-end;
                   justify-content: flex-end;
                   text-align: right
               }

               .top-md {
                   -webkit-box-align: start;
                   -ms-flex-align: start;
                   -webkit-align-items: flex-start;
                   -moz-align-items: flex-start;
                   align-items: flex-start
               }

               .middle-md {
                   -webkit-box-align: center;
                   -ms-flex-align: center;
                   -webkit-align-items: center;
                   -moz-align-items: center;
                   align-items: center
               }

               .bottom-md {
                   -webkit-box-align: end;
                   -ms-flex-align: end;
                   -webkit-align-items: flex-end;
                   -moz-align-items: flex-end;
                   align-items: flex-end
               }

               .around-md {
                   -ms-flex-pack: distribute;
                   -webkit-justify-content: space-around;
                   -moz-justify-content: space-around;
                   justify-content: space-around
               }

               .between-md {
                   -webkit-box-pack: justify;
                   -ms-flex-pack: justify;
                   -webkit-justify-content: space-between;
                   -moz-justify-content: space-between;
                   justify-content: space-between
               }

               .first-md {
                   order: -1
               }

               .last-md {
                   order: 1
               }
           }

           @media only screen and (min-width: 75em) {
               .container {
                   width: 71rem
               }

               .col-lg {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   -webkit-flex-basis: auto;
                   -moz-flex-basis: auto;
                   -ms-flex-preferred-size: auto;
                   flex-basis: auto
               }

               .col-lg-1 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   -webkit-flex-basis: 8.3333333333%;
                   -moz-flex-basis: 8.3333333333%;
                   -ms-flex-preferred-size: 8.3333333333%;
                   flex-basis: 8.3333333333%;
                   max-width: 8.3333333333%
               }

               .col-lg-2 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   -webkit-flex-basis: 16.6666666667%;
                   -moz-flex-basis: 16.6666666667%;
                   -ms-flex-preferred-size: 16.6666666667%;
                   flex-basis: 16.6666666667%;
                   max-width: 16.6666666667%
               }

               .col-lg-3 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   -webkit-flex-basis: 25%;
                   -moz-flex-basis: 25%;
                   -ms-flex-preferred-size: 25%;
                   flex-basis: 25%;
                   max-width: 25%
               }

               .col-lg-4 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   -webkit-flex-basis: 33.3333333333%;
                   -moz-flex-basis: 33.3333333333%;
                   -ms-flex-preferred-size: 33.3333333333%;
                   flex-basis: 33.3333333333%;
                   max-width: 33.3333333333%
               }

               .col-lg-5 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   -webkit-flex-basis: 41.6666666667%;
                   -moz-flex-basis: 41.6666666667%;
                   -ms-flex-preferred-size: 41.6666666667%;
                   flex-basis: 41.6666666667%;
                   max-width: 41.6666666667%
               }

               .col-lg-6 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   -webkit-flex-basis: 50%;
                   -moz-flex-basis: 50%;
                   -ms-flex-preferred-size: 50%;
                   flex-basis: 50%;
                   max-width: 50%
               }

               .col-lg-7 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   -webkit-flex-basis: 58.3333333333%;
                   -moz-flex-basis: 58.3333333333%;
                   -ms-flex-preferred-size: 58.3333333333%;
                   flex-basis: 58.3333333333%;
                   max-width: 58.3333333333%
               }

               .col-lg-8 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   -webkit-flex-basis: 66.6666666667%;
                   -moz-flex-basis: 66.6666666667%;
                   -ms-flex-preferred-size: 66.6666666667%;
                   flex-basis: 66.6666666667%;
                   max-width: 66.6666666667%
               }

               .col-lg-9 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   -webkit-flex-basis: 75%;
                   -moz-flex-basis: 75%;
                   -ms-flex-preferred-size: 75%;
                   flex-basis: 75%;
                   max-width: 75%
               }

               .col-lg-10 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   -webkit-flex-basis: 83.3333333333%;
                   -moz-flex-basis: 83.3333333333%;
                   -ms-flex-preferred-size: 83.3333333333%;
                   flex-basis: 83.3333333333%;
                   max-width: 83.3333333333%
               }

               .col-lg-11 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   -webkit-flex-basis: 91.6666666667%;
                   -moz-flex-basis: 91.6666666667%;
                   -ms-flex-preferred-size: 91.6666666667%;
                   flex-basis: 91.6666666667%;
                   max-width: 91.6666666667%
               }

               .col-lg-12 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   -webkit-flex-basis: 100%;
                   -moz-flex-basis: 100%;
                   -ms-flex-preferred-size: 100%;
                   flex-basis: 100%;
                   max-width: 100%
               }

               .col-lg-offset-0 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   margin-left: 0
               }

               .col-lg-offset-1 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   margin-left: 8.3333333333%
               }

               .col-lg-offset-2 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   margin-left: 16.6666666667%
               }

               .col-lg-offset-3 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   margin-left: 25%
               }

               .col-lg-offset-4 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   margin-left: 33.3333333333%
               }

               .col-lg-offset-5 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   margin-left: 41.6666666667%
               }

               .col-lg-offset-6 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   margin-left: 50%
               }

               .col-lg-offset-7 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   margin-left: 58.3333333333%
               }

               .col-lg-offset-8 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   margin-left: 66.6666666667%
               }

               .col-lg-offset-9 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   margin-left: 75%
               }

               .col-lg-offset-10 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   margin-left: 83.3333333333%
               }

               .col-lg-offset-11 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   margin-left: 91.6666666667%
               }

               .col-lg-offset-12 {
                   box-sizing: border-box;
                   -webkit-box-flex: 0;
                   -webkit-flex-grow: 0;
                   -moz-flex-grow: 0;
                   -ms-flex-positive: 0;
                   flex-grow: 0;
                   -webkit-flex-shrink: 0;
                   -moz-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
                   margin-left: 100%
               }

               .col-lg {
                   -webkit-box-flex: 1;
                   -webkit-flex-grow: 1;
                   -moz-flex-grow: 1;
                   -ms-flex-positive: 1;
                   flex-grow: 1;
                   -webkit-flex-basis: 0;
                   -moz-flex-basis: 0;
                   -ms-flex-preferred-size: 0;
                   flex-basis: 0;
                   max-width: 100%
               }

               .start-lg {
                   -webkit-box-pack: start;
                   -ms-flex-pack: start;
                   -webkit-justify-content: flex-start;
                   -moz-justify-content: flex-start;
                   justify-content: flex-start;
                   text-align: left
               }

               .center-lg {
                   -webkit-box-pack: center;
                   -ms-flex-pack: center;
                   -webkit-justify-content: center;
                   -moz-justify-content: center;
                   justify-content: center;
                   text-align: center
               }

               .end-lg {
                   -webkit-box-pack: end;
                   -ms-flex-pack: end;
                   -webkit-justify-content: flex-end;
                   -moz-justify-content: flex-end;
                   justify-content: flex-end;
                   text-align: right
               }

               .top-lg {
                   -webkit-box-align: start;
                   -ms-flex-align: start;
                   -webkit-align-items: flex-start;
                   -moz-align-items: flex-start;
                   align-items: flex-start
               }

               .middle-lg {
                   -webkit-box-align: center;
                   -ms-flex-align: center;
                   -webkit-align-items: center;
                   -moz-align-items: center;
                   align-items: center
               }

               .bottom-lg {
                   -webkit-box-align: end;
                   -ms-flex-align: end;
                   -webkit-align-items: flex-end;
                   -moz-align-items: flex-end;
                   align-items: flex-end
               }

               .around-lg {
                   -ms-flex-pack: distribute;
                   -webkit-justify-content: space-around;
                   -moz-justify-content: space-around;
                   justify-content: space-around
               }

               .between-lg {
                   -webkit-box-pack: justify;
                   -ms-flex-pack: justify;
                   -webkit-justify-content: space-between;
                   -moz-justify-content: space-between;
                   justify-content: space-between
               }

               .first-lg {
                   order: -1
               }

               .last-lg {
                   order: 1
               }
           }

           .wrapper .row {
               max-width: -webkit-calc(960px - (30px * 2));
               max-width: calc(960px - (30px * 2));
               margin-right: auto;
               margin-left: auto;
               margin-bottom: 40px;
           }

           @media screen and (max-width: 800px) {
               .wrapper .row {
                   max-width: -webkit-calc(960px - (30px));
                   max-width: calc(960px - (30px));
                   padding-right: 15px;
                   padding-left: 15px
               }
           }

           .project-card,
           .post-link,
           .h4,
           h1,
           h2,
           h3,
           h4,
           section {
               scroll-snap-align: start
           }

           @keyframes example {
               from {
                   background-color: #f1f1f1
               }

               to {
                   background-color: #ededff
               }
           }

           .header-block {
               animation-name: example;
               animation-duration: 20s
           }

           .header-image {
               animation: pulse 5s infinite;
               position: absolute;
               margin-top: -90px
           }

           @keyframes pulse {
               0% {
                   transform: rotate(0deg);
                   top: 142px
               }

               25% {
                   transform: rotate(2deg);
                   top: 146px
               }

               50% {
                   transform: rotate(-2deg);
                   top: 152px
               }

               75% {
                   transform: rotate(1deg);
                   top: 140px
               }

               100% {
                   transform: rotate(0deg);
                   top: 142px
               }
           }

           p,
           blockquote,
           pre,
           ul,
           ol,
           dl,
           figure {
               margin-bottom: 30px
           }

           h1,
           h2 {
               font-family: "Montserrat", Helvetica, Arial, sans-serif;
               font-size: 21px;
               font-weight: 600;
               margin-bottom: 10px
           }

           h3,
           h4,
           h5,
           h6 {
               font-family: "Montserrat", Helvetica, Arial, sans-serif;
               font-size: 16px;
               font-weight: 600;
               margin-bottom: 10px
           }

           .card-title {
               font-family: "Montserrat", Helvetica, Arial, sans-serif;
               text-transform: uppercase;
               display: block;
               width: auto;
               margin: 16px 0PX;
               padding-left: 0;
               text-align: left
           }

           .well .card-title {
               margin: 0PX
           }

           .pull-left {
               float: left
           }

           .pull-right {
               text-align: right
           }

           .font-blue {
               color: #37aee1
           }

           .border-gray {
               background-color: transparent;
               border: 6px solid #676262;
               box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
               border-radius: 0;
               -moz-appearance: none;
               -webkit-appearance: none;
               appearance: none
           }

            

           .category {
               text-align: right;
               text-transform: uppercase;
               font-size: 14px;
               margin: 0 auto;
               background: #e8f4fa
           }

           .category h5 {
               float: left;
               line-height: 48px;
               margin: 0
           }

           .category .category-link {
               padding: 0px 10px 0px 0px;
               display: inline-block;
               font-weight: 600;
               line-height: 48px;
               color: #000
           }

           .category .category-link:last-child {
               padding: 0 0 0 0
           }

           .category .category-link:visited {
               color: #000
           }

           .category .category-link.active {
               border-bottom: 6px solid #3a99d8
           }

           .mobile {
               display: none
           }

           @media (max-width: 800px) {
               .desktop {
                   display: none
               }

               .mobile {
                   display: inline-block
               }
           }

           .well {
               background-color: #FFF;
               border-radius: 4px;
               overflow: hidden;
               width: 100%;
               margin: 0 auto 20px auto
           }

           .well-gray {
               background: #f0fafe
           }

           .well-blue {
               background-color: #0095dc;
               color: #FFF
           }

           .well-padding {
               padding: 24px 20px;
               display: block
           }

           .well-img-nopadding {
               width: 100%;
               height: auto;
               align-content: stretch;
               object-fit: cover;
               padding: 0;
               padding-left: 0px !important;
               padding-right: 0px !important
           }

           a {
               color: #3a99d8;
               text-decoration: none
           }

           a.black-link {
               color: #000
           }

           a.black-link h1,
           a.black-link h2,
           a.black-link h3,
           a.black-link h4,
           a.black-link h5 {
               color: #3a99d8
           }

           a.black-link:visited {
               color: #111
           }

           a.black-link:hover {
               color: #111;
               text-decoration: none
           }

           a:visited {
               color: #2170a5
           }

           a:hover {
               color: #373737;
               text-decoration: none
           }

           ul,
           ol {
               list-style: none;
               line-height: 2
           }

           li > ul,
           li > ol {
               margin-bottom: 0
           }

           ul li::before {
               content: "\276F";
               color: #1e82ff;
               display: inline-block;
               position: relative;
               width: 14px;
               left: -10px;
               margin-left: 10px
           }

           .navigation li::before {
               display: none
           }

           .checkmarks li::before {
               content: "\2714"
           }

           .todo li::before {
               content: "\2610"
           }

           .well li::before {
               content: "\2022";
               color: #cbcbcb;
               margin-left: 5px
           }

           .button,
           .button:visited,
           button:visited,
           input[type="reset"],
           input[type="submit"],
           input[type="button"],
           button {
               font-family: "Montserrat", Helvetica, Arial, sans-serif;
               background-color: transparent;
               border: 6px solid #676262;
               box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
               border-radius: 0;
               -moz-appearance: none;
               -webkit-appearance: none;
               appearance: none;
               transition: all .25s ease-in-out;
               -moz-transition: all .25s ease-in-out;
               -webkit-transition: all .25s ease-in-out;
               display: block;
               text-align: center;
               color: #676262;
               padding: 10px 20px;
               margin-bottom: 10PX;
               margin-top: 20px;
               cursor: pointer;
               font-size: 16px;
               font-weight: 600
           }

           .button:hover,
           button:hover:visited,
           input[type="reset"]:hover,
           input[type="submit"]:hover,
           input[type="button"]:hover,
           .button:focus,
           button:focus:visited,
           input[type="reset"]:focus,
           input[type="submit"]:focus,
           input[type="button"]:focus,
           button:hover,
           button:focus {
               border: 6px solid #37aee1;
               color: #3a99d8
           }

           .button.button-blue,
           button.button-blue:visited,
           input.button-blue[type="reset"],
           input.button-blue[type="submit"],
           input.button-blue[type="button"],
           .button.button-blue:visited,
           button.button-blue:visited,
           input.button-blue[type="reset"]:visited,
           input.button-blue[type="submit"]:visited,
           input.button-blue[type="button"]:visited,
           button.button-blue,
           button.button-blue:visited {
               color: #37aee1;
               border: 6px solid #37aee1
           }

           .button.button-white,
           button.button-white:visited,
           input.button-white[type="reset"],
           input.button-white[type="submit"],
           input.button-white[type="button"],
           .button.button-white:visited,
           button.button-white:visited,
           input.button-white[type="reset"]:visited,
           input.button-white[type="submit"]:visited,
           input.button-white[type="button"]:visited,
           button.button-white,
           button.button-white:visited {
               color: #FFF;
               border: 6px solid #FFF
           }

           .button.button-expanded,
           button.button-expanded:visited,
           input.button-expanded[type="reset"],
           input.button-expanded[type="submit"],
           input.button-expanded[type="button"],
           button.button-expanded {
               width: 100%
           }

           input[type="reset"]:hover,
           input[type="submit"]:hover,
           input[type="button"]:hover {
               border: 6px solid #37aee1;
               color: #3a99d8
           }

           .btn-back svg {
               fill: #2170a5
           }

           .btn-back b {
               padding-left: 6px
           }

           .btn-back:hover {
               color: #3a99d8
           }

           .btn-back:hover svg {
               fill: #3a99d8
           }

           select,
           .select {
               font-family: "Montserrat", Helvetica, Arial, sans-serif;
               background-color: transparent;
               border: 6px solid #676262;
               box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
               border-radius: 0;
               -moz-appearance: none;
               -webkit-appearance: none;
               appearance: none;
               transition: all .25s ease-in-out;
               -moz-transition: all .25s ease-in-out;
               -webkit-transition: all .25s ease-in-out;
               color: #b3b3b3;
               display: inline-block;
               box-sizing: border-box;
               min-width: 160px;
               padding: 10px 30px 10px 5px;
               margin: 0;
               background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23b3b3b3%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
               background-repeat: no-repeat, repeat;
               background-position: right .7em top 50%, 0 0;
               background-size: .65em auto, 100%
           }

           select:hover,
           select:focus,
           .select:hover,
           .select:focus {
               border-color: #3a99d8;
               color: #3a99d8;
               background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%2337aae1%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
               box-shadow: none;
               outline: none
           }

           select::-ms-expand,
           .select::-ms-expand {
               display: none
           }

           select option,
           .select option {
               font-weight: normal;
               color: #000
           }

           figure,
           .figure {
               margin-bottom: 0
           }

           figure img,
           .figure img {
               z-index: -2
           }

           figure figcaption,
           .figure figcaption {
               display: block;
               margin-top: -50px;
               margin-left: 20px;
               margin-bottom: 0;
               padding-bottom: 20px;
               color: #FFF;
               z-index: 0;
               font-weight: 600;
               text-shadow: 2px 2px 0 #00000085, -1px -1px 0 #00000085, 1px -1px 0 #00000085, -1px 1px 0 #00000085, 1px 1px 0 #00000085
           }

           pre,
           code {
               font-size: 15px;
               border: 1px solid #e8e8e8;
               border-radius: 3px;
               background-color: #eef
           }

           code {
               padding: 1px 5px
           }

           pre {
               padding: 8px 12px;
               overflow-x: auto
           }

           pre > code {
               border: 0;
               padding-right: 0;
               padding-left: 0
           }

           .icon > svg {
               display: inline-block;
               width: 16px;
               height: 16px;
               vertical-align: middle
           }

           .icon > svg path {
               fill: #828282
           }

           .skill {
               margin-left: 0;
               list-style: none
           }

           .skill li {
               border: 1px solid #cecece
           }

           .skill li::before {
               display: none
           }

           .project-card,
           .post-link {
               transition: all .25s ease-in-out;
               -moz-transition: all .25s ease-in-out;
               -webkit-transition: all .25s ease-in-out;
               box-shadow: 0 0 0 transparent
           }

           .project-card img,
           .post-link img {
               opacity: 0.9
           }

           .project-card:hover,
           .post-link:hover {
               box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3)
           }

           .project-card:hover img,
           .post-link:hover img {
               opacity: 1
           }
