<!--

Navigation in portfolio page

- portfolio.html
- portfolio-posts.html
- portfolio-detail.html

-->

<div class="category">
    <!--Back button--> 
    {% if page.url != '/ux-portfolio/' %}
    {% include elements/btn-back.html link="ux-portfolio" %}
    {% endif %}
    <a class="black-link" href="{{ site.baseurl }}/ux-portfolio/" title="Go back">
        <h5>Projects</h5>
    </a>

    <!-- Desktop navigation in plain text-->
    <div class="desktop">
        {% assign url = page.url %}
        {% for cat in site.category-list %}
        {% for page in site.pages %}
        {% if page.resource == true %}
        {% for pc in page.categories %}
        {% if pc == cat %}
        <a class="category-link {% if url == page.url %}active{% endif %}" href="{{ page.url | prepend: site.baseurl }}" title="{{ page.title }}">
            {{ page.nav-title }}
        </a>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endfor %}
        {% endfor %}
    </div>

    <!-- On mobile is in option list-->
    <select class="mobile">
        <option value="" disabled selected hidden>Category</option>
        {% assign url = page.url %}
        {% for cat in site.category-list %}
        {% for page in site.pages %}
        {% if page.resource == true %}
        {% for pc in page.categories %}
        {% if pc == cat %}
        <option class="category-link {% if url == page.url %}active{% endif %}" value="{{ page.url | prepend: site.baseurl }}" {% if url == page.url %}selected{% endif %}>
            {{ page.title }}
        </option>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endfor %}
        {% endfor %}
    </select>

</div>

<script>
$(".mobile").change(function() {
  window.location = $(this).find("option:selected").val();
});
</script>

   