<!--

Navigation in category page

- category.html
- category-home.html

-->

<div class="category">
    <a class="black-link" href="{{ site.baseurl }}/category/">
        <h5>Categories</h5>
    </a>

    <!-- Desktop navigation in plain text-->
    <div class="desktop">
        {% assign url = page.url %}
        {% assign sortedCategories = site.categories | sort %}

        {% for category in sortedCategories %}
        <span class="tag">
            <a class="category-link {% if url == page.url %}active{% endif %}" href="/category/{{ category | first  }}" title="{{ category | first }}">{{ category | first }}</a>
        </span>
        {% endfor %}
    </div>

    <!-- On mobile is in option list-->
    <select class="mobile">
        <option value="" disabled selected hidden>Category</option>
        {% assign url = page.url %}
        {% assign sortedCategories = site.categories | sort %}
        {% for category in sortedCategories %}
        <option class="category-link" value="/category/{{ category | first  }}" {% if /category/{{category | first}} == page.url %}selected{% endif %}>{{ category | first }}</option>
        {% endfor %}
    </select>
</div>
    
<script>
$(".mobile").change(function() {
  window.location = $(this).find("option:selected").val();
});
</script>
   