<!--

Navigation in resume page

- company-detail.html

-->

<div class="category">
    {% include elements/btn-back.html link="ux-design-resume" %}
    <a class="black-link" href="{{ site.baseurl }}/ux-design-resume/">
        <h5>Experience</h5>
    </a>

    <!-- Desktop navigation in plain text-->
    <div class="desktop">
        {% for item in site.data.clientnav.docs %}
        {% if item.title %}
        <a class="category-link {% if item.url == page.url %}active{% endif %}" href="{{ item.url | prepend: site.baseurl }}" title="{{ item.title }}">
            {{ item.title }}
        </a>
        {% endif %}
        {% endfor %}
    </div>

    <!-- On mobile is in option list-->
    <select class="mobile">
        <option value="" disabled selected hidden>Category</option>
        {% for item in site.data.clientnav.docs %}
        {% if item.title %}
        <option class="category-link {% if item.url == page.url %}active{% endif %}" value="{{ item.url | prepend: site.baseurl }}" {% if url == page.url %}selected{% endif %}>
            {{ item.title }}
        </option>
        {% endif %}
        {% endfor %}
    </select>

</div>

<script>
$(".mobile").change(function() {
  window.location = $(this).find("option:selected").val();
});
</script>


   