<div class="slider">
  <div class="slides">
    <div id="slide-1">
        <div class="testimonial">
            <blockquote>Michal helped us take the quality of our design and UX to the next level on our SaaS product Alloy. Developing style guides, wireframes and high fidelity mockups to support the development team. Michal has a real eye for good design and his experience with web technologies make him well suited to working on small to large scale web apps. </blockquote>
            <strong>CRAIG McNICHOLAS</strong>
            <p>Manager at Yotta Ltd</p>
    </div>
</div>
    <div id="slide-2">
      <div class="row">
    <div class="testimonial">
            <blockquote>I worked with Michal at Yotta. Exceptional is the fact that he understood Mobile product and he was always delivering designs that not only looked nice but was easy to implement. From user perspective we got plenty of positive feedback about usability. He was also just great person to talk especially about cool stuff that will have impact on future and technology. I will recommend Michal for anyone that is looking for talent, hard work, understanding, and visionary.The best proof of Michal skill is the fact that after few years and designers that came after him the core ideas and look and feel he introduced are still there.</blockquote>
            <strong>Sylwester Moniuszko-Szymanski</strong>
            <p>Mobile Application Developer at Yotta Ltd</p>
    </div>
</div>
    </div>
    <div id="slide-3">
      <div class="row">    
    <div class="testimonial">
            <blockquote>I worked with Michal as a front end developer at Yotta, implementing his designs into our Alloy product. Michal joined the team soon after we started development and has worked hard and long hours to get everything ready for us. His work made huge difference to the intuitive and clean look of the product. People were really impressed during the first demo. It was pleasure to cooperate with Michal and I would enjoy working with him again.</blockquote>
         <strong>Sonja Nase Strugar</strong>
            <p>Senior Software Engeneer at Yotta Ltd</p>
    </div>
</div>
    </div>
    <div id="slide-4">
      <div class="row">  
    <div class="testimonial">
            <blockquote>Michal has a very keen eye for detail and understands the the world of UX extrememly well. For me, he was a great support during the user persona and content write up for Yotta's cutting-edge, connected asset management platform - Alloy. Michal is an asset to any team; highly recommended.</blockquote>
            <strong>Shivani Prashar</strong>
            <p>Communications Professional</p>
    </div>
</div>
    </div>
  </div>
    
      <a href="#slide-1">1</a>
  <a href="#slide-2">2</a>
  <a href="#slide-3">3</a>
  <a href="#slide-4">4</a>
</div>







<style>
    


.slider {
  width: 100%;
  overflow: hidden;
}
    
    .slider .row {
 margin: 0;
        padding: 0;
}

.slides {
  display: flex;
  
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  
  
  
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  
  /*
  scroll-snap-points-x: repeat(300px);
  scroll-snap-type: mandatory;
  */
}
.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.slides::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
  background: transparent;
}
.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100%;
  height: auto;
  margin-right: 50px;
  border-radius: 10px;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  
  display: flex;
  justify-content: center;
  align-items: center;
}
.slides > div:target {
/*   transform: scale(0.8); */
}

.slider > a {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
}
.slider > a:active {
  top: 1px;
}
.slider > a:focus {
  background: #000;
}

/* Don't need button navigation */
@supports (scroll-snap-type) {
  .slider > a {
    display: none;
  }
}

</style>