<!--

Layout used in portfolio-detail 
Snipped list current categories used in page
Output is list of clicable link to /category/*name

-->
{% assign sortedCategories = page.categories | sort %}
{% for category in sortedCategories %}
<span class="tag">
    <a href="/category/{{ category }}">#{{ category }}</a>
</span>
{% endfor %}    