<!--

Head for statements of functions
Contains:
    - CSS load
    - JQuerry

-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#32aae1" />

    <!--Title and dexcription-->
    <title>UXMichal.com | {% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}" />
    <meta name="description" content="{{ page.description }}" />
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="/feed.xml">
    <link rel="preload" as="document" href="https://www.google-analytics.com">

    <!--Favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">

    <!--Facebook meta-->
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="article">
    <meta property="og:title" content="UXMichal.com | {%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:image" content="{% if page.img %}{{ page.img }}{% else %}{{ site.img }}{% endif %}" />
    <meta property="og:site_name" content="UXMichal.com | Smashing UX Designer with 15+ years of experience in product design, prototyping, and front-end development. Discover how I transform visions into user-centered digital experiences.">
    <meta property="article:publisher" content="http://www.uxmichal.com" />
    <meta property="article:author" content="https://www.uxmichal.com" />
    <meta property="article:published_time" content="{{ page.date }}" />
    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

    <!--Twitter meta-->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="twitter:site" content="@lececil" />
    <meta name="twitter:creator" content="@lececil">
    <meta name="twitter:card" content="summary">


    <!--Style-->
    <style>
        /**
 * Body styles to load imidiatelly 
 */

        /**
 * Reset some basic elements
 */

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            min-height: 100vh;
            background: #FAFAFA;
            font-family: "Open Sans", Verdana, Arial, sans-serif;
            margin: 0;
            box-sizing: border-box;
        }

        .wrapper .row {
            max-width: 900px;
            margin: 0 auto;
        }

        @keyframes fadeIn {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        body .scene_element {
            animation-duration: 1s;
            transition-timing-function: ease-in;
            animation-fill-mode: both;
        }

        body .scene_element--fadein {
            animation-name: fadeIn;
        }

        body.is-exiting .scene_element {
            animation-direction: alternate-reverse;
        }

        .row {
            margin: 0;
            padding: 4vh 0;
            display: flex;
            flex-wrap: wrap;
        }
        

        .row.well {
            padding: 0;
            margin-bottom: 20px;
        }

        .col-sm-4,
        .col-sm-6,
        .col-sm-7,
        .col-sm-8,
        .col-sm-12 {
            box-sizing: border-box;
            flex-shrink: 0;
        }

        .col-sm-3 {
            flex-basis: 25%;
            max-width: 25%;
        }

        .col-sm-4 {
            flex-basis: 33.3333333333%;
            max-width: 33.3333333333%;
        }

        .col-sm-5 {
            flex-basis: 41.6666666667%;
            max-width: 41.6666666667%;
        }

        .col-sm-6 {
            flex-basis: 50%;
            max-width: 50%;
        }

        .col-sm-7 {
            flex-basis: 58.3333333333%;
            max-width: 58.3333333333%;
        }

        .col-sm-8 {
            flex-basis: 66.6666666667%;
            max-width: 66.6666666667%;
        }

        .col-sm-12 {
            flex-basis: 100%;
            max-width: 100%;
        }

        @media screen and (max-width:620px) {

            .col-xs-3 {
                flex-basis: 25%;
                max-width: 25%;
            }

            .col-xs-4 {
                flex-basis: 33.3333333333%;
                max-width: 33.3333333333%;
            }

            .col-xs-5 {
                flex-basis: 41.6666666667%;
                max-width: 41.6666666667%;
            }

            .col-xs-6 {
                flex-basis: 50%;
                max-width: 50%;
            }

            .col-xs-7 {
                flex-basis: 58.3333333333%;
                max-width: 58.3333333333%;
            }

            .col-xs-8 {
                flex-basis: 66.6666666667%;
                max-width: 66.6666666667%;
            }

            .col-xs-12 {
                flex-basis: 100%;
                max-width: 100%;
            }

        }

        /**
 * Scroll behaviour to snap 
 */

        .scrool-box {
            position: absolute;
            width: 100%;
            top: 100px;
            height: calc(100vh - 100px);
            overflow-x: hidden;
            overflow-y: scroll;
            /*scroll-snap-type: block proximity;
            scroll-padding: 20px 0px 0px 0px;
            padding-top: 20px;*/
        }

        /*-- Responsive CSS --*/
        @media screen and (max-width:620px) {

            .scrool-box {
                top: 80px;
                height: calc(100vh - 80px);
            }
        }
    </style>

    <!--Script-->
    <script rel="dns-prefetch" type="text/javascript" src="/assets/jquery.js"></script>
    <script rel="dns-prefetch" type="text/javascript" src="/assets/parallax.min.js"></script>


</head>