<!--

Paralax effect

-->
<div id="scene" class="scene-one" data-relative-input="true">
    <img src="data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 22.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 2228.9 497.6' style='enable-background:new 0 0 2228.9 497.6;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bopacity:0.33;fill:%2397CFEC;%7D%0A%3C/style%3E%3Ctitle%3Eman orang and blue%3C/title%3E%3Cg id='Layer_20'%3E%3Cpath class='st0' d='M2131.8,337.5c-18.6,40.3-62.2,62.7-105.8,54.3c-86.1-16.4-174.2-19.9-261.3-10.5 c-192.2,20.8-474.9,105.1-474.9,105.1s-142.6,46.6-369.7-49.5S577.1,325,571.1,323.8c-4.4-0.9-314.5-12.8-478.6-19.1 c-53.1-2-94.5-46.8-92.5-99.9c0-1,0.1-2,0.2-3L3,161.5c3.7-53,49.7-93,102.7-89.4c3.6,0.2,7.2,0.7,10.7,1.4 c41.5,7.6,87.2,7.4,121-16.2C272.3,33,578.8,32.1,635.4,40.9c104.3,16.2,459.5,188.6,816.3,3C1556.3-10.6,1944,1.1,1944,1.1 l192.6,8.3c68.4,2.9,111.9,74.3,83.3,136.4L2131.8,337.5z'/%3E%3C/g%3E%3C/svg%3E" data-depth='0.9' width="100%" class="img-1" alt="" />
    <img src="data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 1075.7 300.9' style='enable-background:new 0 0 1075.7 300.9;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bopacity:0.33;fill:%235165D6;enable-background:new ;%7D%0A%3C/style%3E%3Cg id='Layer_19'%3E%3Cpath class='st0' d='M1037,263.7l-247.1,36.7c-3.6,0.5-7.3,0.6-10.9,0.3c-31.9-2.8-191-19.3-270.5-78.6 c-78.9-58.9-154.5-60.6-170.1-60.3c-1.7,0-3.3,0.2-5,0.4l-116.1,15.2c-2.9,0.4-5.9,0.5-8.9,0.3c-17.1-1.1-76.2-6.9-105.8-38.5 c-21.9-23.4-54.2-40.5-75.1-50c-13.3-6-23-17.9-26.3-32.1l0,0C-4.6,32,11.1,6.9,36.3,1.2C39.7,0.4,43.2,0,46.7,0h231.6l356,1.2 l430.1,0.3c-0.7,0-242,66.5-33.9,105.9l45.3,120.1C1071.6,246.5,1056.2,260.9,1037,263.7z'/%3E%3C/g%3E%3C/svg%3E" data-depth='0.7' width="100%" class="img-2" alt="" />
    <img src="data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 1039.4 611' style='enable-background:new 0 0 1039.4 611;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bopacity:0.33;fill:%231A61FF;enable-background:new ;%7D%0A%3C/style%3E%3Cg id='Layer_21'%3E%3Cpath class='st0' d='M948.6,458.6C892.5,481.9,841,652.1,701,601.7S549,385,447,351.8S307,477.1,307,477.1s-44,118.8-176-128.6 C64.4,223.5,24.5,199.7,1.4,206.7c-0.2-2.9-0.7-5.7-1.4-8.5l33-61.3c0,0-54-213.7,236-107.2s470,68.8,470,68.8l300.4-5.1 C1039.4,93.5,1004.7,435.2,948.6,458.6z'/%3E%3C/g%3E%3C/svg%3E" data-depth='0.5' width="60%" class="img-3" alt="" />
    <img src="data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 1402 303.8' style='enable-background:new 0 0 1402 303.8;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bopacity:0.33;fill:%232E81AF;enable-background:new ;%7D%0A%3C/style%3E%3Cg id='Layer_18'%3E%3Cpath class='st0' d='M0,2.3c0,0,348.5,242.9,478,284.4s335.3-5.1,401.8-34s94.2-44.5,186.2-52.1c92-7.7,223-9.1,223-9.1l113-4.6 l-10-183L798,0.7H211.8L0,2.3z'/%3E%3C/g%3E%3C/svg%3E" data-depth='0.3' width="80%" class="img-4" alt="" />
</div>

<script>
    var scene = document.getElementById('scene');
    var parallaxInstance = new Parallax(scene);
</script>

<style>
    #scene {
        position: absolute !important;
        right: 0;
        top: 50px;
        width: 50%;
    }

    .img-2 {
        margin-left: 18%;
    }

    .img-3 {
        margin-top: -4%;
        margin-left: 50%;
    }

    .img-4 {
        margin-top: 7%;
        margin-left: 30%;
    }
</style>