<!--

Review

-->

  <section class="row">
<h5>Recommendations</h5>

    <div class="col-sm-12 col-xs-12 well">
        <div class="well-padding">
            
            <!--Review-->
            <blockquote>{{ page.review }}<br/><br/>
            <h5>{{ page.review-name }}</h5>
            </blockquote>
        </div>
    </div></section>
