<!--

Skills block

-->

<section>
<h4>Skills</h4>
    <ul class="skill">
        <li> Creative Direction</li>
        <li> User Experience</li>
        <li> User Interface</li>
        <li> Prototyping</li>
        <li> Graphic design</li>
        <li> Web Design</li>
        <li> Mobile design</li>
        <li> Motion design</li>
        <li> Digital marketing</li>
        <li> Identity</li>
        <li> Team Leadership</li>
        <li> Collaboration</li>
        <li> Visual communication</li>
        <li> Creativity</li>
        <li> Innovation</li>
        <li> Professional responsibility</li>
        <li> Reliability</li>
        <li>Adobe XD</li>
        <li>InVision</li>
        <li>Principle</li>
        <li>Balsamiq</li>
        <li>Photoshop</li>
        <li>Illustrator</li>
        <li>Flash</li>
    </ul>
</section>
