
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}


* {
    //font-weight: 300;
}

b, strong {
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-weight: 600;
}

/**
 * Images
 */
img {
    max-width: 100%;
}

/**
 * Blockquotes
 */
blockquote {
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-style: italic;
    margin-top: 8px;

    > :last-child {
        margin-bottom: 0;
    }
}

hr {
    border: 1px solid #e3e4e4;
    margin: 20px 0;
}

/**
 * Clearfix
 */
.clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

/**
 * Img class
 */

.img-nopadding {
    width: 100%;
    height: auto;
    align-content: stretch;
    object-fit: cover;
    padding: 0;
    position: relative;
    left: -10%;
    zoom: 1.6;
}

/**
 * Padding
 */

@media only screen and (max-width: 767px) {
  .display-notmobile{
        display: none;
        
    }
    
    #scene{
        display: none;
    }
}

