<!--

Related articles 
Showing title and clickable link to related items up to three

-->
<section>
    <div class="row">
<h5>Other relevant projects</h5>
    {% assign firstCategory = page.categories | first %}
    {% assign relatedCount = 0 %}
    {% for related in site.categories[firstCategory] %}
    {% unless page.permalink == related.permalink %}
    {% assign relatedCount = relatedCount | plus: 1 %}
    
        <!-- Article layout for relates -->
        {% include articles/article-col12-one-related.html %}
    {% endunless %}

    {% if relatedCount == 3 %}
    {% break %}
    {% endif %}
    {% endfor %}
        </div>
</section>