<!--

Articles loop

-->
<a class="black-link post-link col-sm-6 col-xs-12" href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}" style="padding:2px;">
    
    <!--img-content-->
    <img class="" src="{{post.img}}" alt="{{ post.imgdsc1 }}" style="width:100%; border-radius:8px;"/>
    
    <!--Text-->
        <div class="well-padding">
            <h3>{{ post.title }}</h3>
            <p>{{ post.description }}</p>
            {% include elements/btn-discover.html %}
            <div class="clearfix"></div>
        </div>
    
</a>