<!--

Articles loop

-->
<a class="black-link post-link row well" href="{{ page.url | prepend: site.baseurl }}" title="{{ post.title }}">
    <div class="h4 col-sm-4 col-xs-12 well-gray">
        <div class="well-padding">
            <p>{{ page.year }}<span style="color:gray;"> | {{ page.client }}</span></p>
            <h2> {{ page.title }} </h2>
        </div>
    </div>
    <!--Text-->
    <div class="col-sm-8 col-xs-12">
        <div class="well-padding">

            <!--Content-->
            <p> {{ page.description }} </p>
            <ul>
                {% for excerpto in page.excerpt %}
                <li>{{ excerpto }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</a>