<!--

Articles loop

-->
<a class="col-sm-12 col-xs-12" href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">
    <!--Text-->
            <h4>{{ post.title }}</h4>
            <p>{{ post.excerpt }}</p>
</a>