<!--

Relates loop

-->
<a class="black-link post-link row well" href="{{ related.url | prepend: site.baseurl }}" title="{{ related.title }}">
    <!--Text-->
    <div class="col-sm-6 col-xs-12">
        <div class="well-padding">
            <h2>{{ related.title }}</h2>
            <p>{{ related.description }}</p>
            <br>
            {% include elements/btn-discover.html %}
        </div>
    </div>
    <!--img-content-->
    <img class="well-img-nopadding col-sm-6 col-xs-12" src="{{related.img}}" alt="{{ related.imgdsc1 }}" />
</a>