<!--

Articles loop

-->
<div class="article-4 col-sm-4 col-xs-12">
    <a class="black-link post-link" href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">
        <div class="well">
            <img src="{{post.img}}" class="well-img-nopadding" alt="{{ post.imgdsc1 }}" />
            <div class="well-padding">
                <h4>
                    {{ post.title }}
                </h4>
                <p>{{ post.excerpt | strip_html | truncatewords: 15 }}</p>
                <div class="clearfix"></div>
            </div>
        </div>
    </a>
</div>