<!--

Articles loop

-->
<a class="black-link post-link row well" href="{{ page.url | prepend: site.baseurl }}" title="{{ post.title }}">
    <!--Text-->
    <section class="col-sm-4 col-xs-12 first-xs">
        <div class="well-padding">
            <h2> {{ page.title }} </h2>
            <p>{{ page.description }}</p>
            {% include elements/btn-discover.html %}
        </div>
    </section>

    <!--Picture 1-->
    <img class="col-sm-4 well-img-nopadding col-xs-6 first-sm" src="{{page.img}}" />

    <!--picture 2-->
    <img class="col-sm-4 well-img-nopadding col-xs-6 first-sm" src="{{page.img-2}}" />
</a>