<!--

What

-->

{% include elements/heading.html %}

<style>
    
    .row{
        min-height: auto;
    }
    .row.phase{
        padding: 0px;
    }
    
    .row.phase.one{
        background: rgba(255,192,0,0.3);
        margin-bottom: 20px;
        width: 100%;
    }
    
    .row.phase.one figure{
        background: rgba(255,192,0,1);
    }
    
    .row.phase.two{
        background: rgba(116,180,46,0.3);
        margin-bottom: 20px;
    }
    
    .row.phase.two figure{
        background: rgba(116,180,46,1);
    }
    
    .row.phase.three{
        background: rgba(47,123,192,0.3);
        margin-bottom: 20px;
    }
    
    .row.phase.three figure{
        background: rgba(47,123,192,1);
    }
    
    
    
    .phase .col-sm-10 {
    padding: 40px;
}
    .phase .col-sm-2 {
    padding: 10px;
}
    
</style>
<div class="row phase one">
    <div class="col-sm-2 col-xs-12">
        <img src="/images/what/icon1.svg" style="height:100%;" alt="Discovery Phase Icon" />
    </div>
    <div class="col-sm-10 col-xs-12">
        <span class="phase-number">Phase 1</span>
        <h2>Discovery</h2>
        <p>In this initial phase, I get to know your project and understand its goals. Together, we’ll uncover the best solutions for your product.</p>
        <ul>
            <li><b>Research:</b> Collecting all necessary information to fully understand your needs</li>
            <li><b>Strategy:</b> Crafting a tailored plan for successful execution</li>
            <li><b>Idea:</b> Brainstorming creative and practical solutions</li>
            <li><b>Advice:</b> Providing expert tips and strategies for growth</li>
        </ul>
    </div>
</div>

<div class="row phase two">
    <div class="col-sm-2 col-xs-12">
        <img src="/images/what/icon2.svg" style="height:100%;" alt="Design and Prototyping Phase Icon" />
    </div>
    <div class="col-sm-10 col-xs-12">
        <span class="phase-number">Phase 2</span>
        <h2>Design and Prototyping</h2>
        <p>Here, ideas take shape through visual designs and interactive prototypes. You’ll get a realistic preview of the final product before development begins.</p>
        <ul class="phase-list">
            <li><b>Identity:</b> Crafting a unique look for your brand and product</li>
            <li><b>User Experience:</b> Designing intuitive and enjoyable interactions</li>
            <li><b>Visual Design:</b> Creating functional, beautiful designs and prototypes</li>
            <li><b>Prototyping:</b> Turning designs into clickable models for testing</li>
        </ul>
    </div>
</div>

<div class="row phase three">
    <div class="col-sm-2 col-xs-12">
        <img src="/images/what/icon3.svg" style="height:100%;" alt="Deploy Phase Icon" />
    </div>
    <div class="col-sm-10 col-xs-12">
        <span class="phase-number">Phase 3</span>
        <h2>Deploy</h2>
        <p>It’s time to bring everything to life! I collaborate closely with developers, handling the front-end to ensure your design works flawlessly.</p>
        <ul class="phase-list">
            <li><b>Animations:</b> Adding smooth interactions and gamified elements</li>
            <li><b>Development:</b> Building the final product, ready to be launched</li>
            <li><b>Continuous Development:</b> Helping product thrive through iterative growth.</li>
        </ul>
    </div>
</div>

