<!--

What

-->

<section class="expertise row">
    <div class="col-sm-12 col-xs-12">
            <h2>How UX<span style="color: #1e82ff;">Michal</span> Can Help You</h2><br>
    </div>
    <div class="col-sm-4  col-xs-12">
            <h3>PRODUCTS</h3>
            <ul class="list">
                <li>UX Product Design</li>
                <li>Product Identity</li>
                <li>Native Mobile Apps</li>
                <li>Prototyping & Interfaces</li>
                <li>Game & Interaction Design</li>

            </ul>
    </div>
    <div class="col-sm-4  col-xs-12">
            <h3>IDENTITY</h3>
            <ul class="list">
                <li>Visual Communication</li>
                <li>Brand Identity</li>
                <li>Digital Design</li>
            </ul>
    </div>
    <div class="col-sm-4  col-xs-12">
            <h3>CODE</h3>
            <ul class="list">
                <li>Front-End Development</li>
                <li>Themes & Layouts</li>
                <li>Interactions & Animations</li>
            </ul>
    </div>
</section>