<!--

What

-->
<section class="row experience">
    <div class="col-sm-12 col-xs-12">
        <h2 class="pull-left">Design experience</h2>
    </div>
    <div class="col-sm-12 col-xs-12">
        <p>With 15+ years of experience, I specialize in creating products that elevate user engagement and foster meaningful interactions.</p>
    </div>
    
    <div class="experience-list col-sm-12 col-xs-12">
        <ul class="list">
            {% for cat in site.experience-list %}
            {% for page in site.pages %}
            {% if page.resource == true %}
            {% for pc in page.categories %}
            {% if pc == cat %}
            <li>
                <a class="black-link" href="{{ page.url | prepend: site.baseurl }}">
                    <span>{{ page.year }} |</span>
                    <b style="color:#1e82ff;">{{ page.title }} </b> at {{ page.client }}
                </a>
            </li>
            <hr/>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% endfor %}
            {% endfor %}
            
            <li class="black">
                <span>2006 - 2009 | </span>
                <b>Freelance web design and animation</b>
            </li>
            <hr/>
            <li class="black">
                <strong>2004 | Beginning of Career</strong>
            </li>
        </ul>
    </div>
</section>


<style>
    .experience-list {
    background: #ffffff;
    padding: 25px;
}
</style>