<!--

Box

-->
<div class="col-sm-3  col-xs-6 fact">
    <span class="well-padding">
        <strong>{{ include.title }}</strong>
        <h2>{{ include.value }}</h2>
    </span>
</div>

<style>
    .fact {
        border-left: 6px solid white;
        border-right: 12px solid white;
        margin-bottom: 20px;
        background: #eaeaea;

    }
    
    .fact:hover {
        
        border-left: 6px solid black;
    }
    
</style>