<!--

Gallery

-->

<section class="row">  
    <div class="col-sm-12 col-xs-12">
            <h2 class="pull-left">Projects Shipped</h2>
            <h4 class="pull-right">200+</h4>
    </div>

    {% include components/index-fact.html title="Websites"  value="150" %}
    {% include components/index-fact.html title="Logos"  value="80" %}
    {% include components/index-fact.html title="Identities"  value="50" %}
    
    {% include components/index-fact.html title="Motion Design"  value="30" %}
    {% include components/index-fact.html title="Mobile Apps"  value="20" %}
    {% include components/index-fact.html title="Campaigns"  value="12" %}
    {% include components/index-fact.html title="Products"  value="10" %}
    
    {% include components/index-fact.html title="Years of Experience"  value="15+" %}
</section>