<!--

Experience block

-->

{% include elements/heading.html %}

<style>
    
table td {
    padding: 10px;
    vertical-align: top;
    border-top: 1px solid #e3e4e4;
}
    
table tr {
    padding: 05px 15px;
}
    
.skill li {
    border: 0px;
    line-height: 35px;
}
</style>

    <div class="col-sm-12 col-xs-12">
    <table style="width:100%; border-collapse: collapse; font-family: Arial, sans-serif;">
        <div class="row">
            <div class="col-md-6 col-sm-12">
        <div style="">
             <h3 style="padding: 8px; font-weight: bold;">Design Skills</h3>
            <div style="padding: 8px;">
                <ul>
                    <li>Advanced proficiency in design tools like <b>Figma</b></li>
                    <li>Strong understanding of <b>design principles</b></li>
                    <li>Typography, and color theory</li>
                    <li>Ability to create and maintain <b>design systems</b></li>
                    <li>Knowledge of interaction design patterns</li>
                    <li>Expertise in responsive design for all devices</li>
                </ul>
            </div>
        </div>
            </div>
         <div class="col-md-6 col-sm-12">
            <h3 style="padding: 8px; font-weight: bold;">Technical Skills</h3>
            <div style="padding: 8px;">
                <ul>
                    <li>Basic front-end development (HTML, CSS, React)</li>
                    <li>Understanding of technical constraints</li>
                    <li>Familiarity with various programming languages</li>
                </ul>
            </div>
        </div>
            
            <div class="col-md-6 col-sm-12">
            <h3 style="padding: 8px; font-weight: bold;">Prototyping</h3>
            <div style="padding: 8px;">
                <ul>
                    <li>High-fidelity prototyping (Figma)</li>
                    <li>Rapid prototyping techniques</li>
                    <li>Animation and micro-interaction design</li>
                    <li>Gamification and game design</li>
                </ul>
            </div>
        </div>
        
        
         <div class="col-md-6 col-sm-12">
            <h3 style="padding: 8px; font-weight: bold;">Product Strategy</h3>
            <div style="padding: 8px;">
                <ul>
                    <li>Understanding business models and metrics</li>
                    <li>Product roadmapping and prioritization techniques</li>
                    <li>Competitive analysis and market research</li>
                </ul>
            </div>
        </div>
            
            <div class="col-md-6 col-sm-12">
           
            <h3 style="padding: 8px; font-weight: bold;">User Research</h3>
            <div style="padding: 8px;">
                <ul>
                    <li>Qualitative research (interviews, user testing)</li>
                    <li>Quantitative research (surveys, A/B testing)</li>
                    <li>Data analysis and interpretation</li>
                    <li>Creating personas and user journey maps</li>
                </ul>
            </div>
        </div>
         
             <div class="col-md-6 col-sm-12">
            <h3 style="padding: 8px; font-weight: bold;">Accessibility</h3>
            <div style="padding: 8px;">
                <ul>
                    <li>Understanding WCAG Guidelines</li>
                    <li>Designing for diverse user groups</li>
                    <li>Creating accessible color schemes and typography</li>
                </ul>
            </div>
        </div>
            
        <div class="col-md-6 col-sm-12">
            <h3 style="padding: 8px; font-weight: bold;">Data Analytics</h3>
            <div style="padding: 8px;">
                <ul>
                    <li>Understanding key product metrics and KPIs</li>
                    <li>Data visualization skills</li>
                    <li>Experience with tools like Google Analytics</li>
                    <li>A/B testing and evaluation</li>
                </ul>
            </div>
        </div>
         <div class="col-md-6 col-sm-12">
            <h3 style="padding: 8px; font-weight: bold;">Project Management</h3>
            <div style="padding: 8px;">
                <ul>
                    <li>Experience with Agile and Scrum methodologies</li>
                    <li>Time management and prioritization</li>
                    <li>Stakeholder management and communication</li>
                </ul>
            </div>
        </div>
         
        
        <div class="col-md-6 col-sm-12">
            <h3 style="padding: 8px; font-weight: bold;">Content Strategy</h3>
            <div style="padding: 8px;">
                <ul>
                    <li>Information architecture and UX writing</li>
                    <li>Creating engaging micro-copy</li>
                    <li>Knowledge of ethical design and data privacy practices</li>
                </ul>
            </div>
        </div>
         <div class="col-md-6 col-sm-12">
            <h3 style="padding: 8px; font-weight: bold;">Emerging technologies</h3>
            <div style="padding: 8px;">
                <ul>
                    <li>Experience with AI tools and AR/VR design principles</li>
                    <li>Knowledge of voice user interface and chat design</li>
                </ul>
            </div>
        </div>
         <div class="col-md-6 col-sm-12">
            <h3 style="padding: 8px; font-weight: bold;">Growth and Optimization</h3>
            <div style="padding: 8px;">
                <ul>
                    <li>Expertise in conversion rate optimization</li>
                    <li>Familiarity with growth hacking techniques</li>
                    <li>Knowledge of SEO principles</li>
                </ul>
            </div>
        </div>
            
         <div class="col-md-6 col-sm-12">
            <h3 style="padding: 8px; font-weight: bold;">Marketing Strategy</h3>
            <div style="padding: 8px;">
                <ul>
                    <li>Expertise in creating campaigns</li>
                    <li>Knowlegde of marketing strategies</li>
                    <li>Maining brand and tone with media</li>
                </ul>
            </div>
        </div>
            </div>
    </table>

    <hr><br>

</div>
