<!--

Education block

-->
{% include elements/heading.html %}
    <div class="well row">
        <div class="col-sm-4  col-xs-12 well-gray">
            <div class="h4 well-padding">
                2005 - 2010 <span style="color:gray;">| SoS Polygraficka</span>
                <h4>Design of digital media</h4>
            </div>
        </div>
        <div class="col-sm-8  col-xs-12">  
            <div class="well-padding">
                <ul>
                    <li> Graphic design of digital media</li>
                    <li> Adobe Master Collection</li>
                    <li> HTML, CSS, JS, AS, PHP, MySQL </li>
                </ul>
                Certifications:
                <ul>
                    <li>2010 - Graphic design of digital media</li>
                    <li>2010 - English certificate - B2</li>
                </ul>
            </div>
        </div>
    </div>