<!--

Experience block

-->

{% include elements/heading.html %}

<!-- Prepare experience list -->
{% for cat in site.experience-list %}
    {% include loops/loop-article-experience-list.html %}
<!-- page -->
{% endfor %}
    
<div class="black-link row well">
    <div class="h4 col-sm-4 col-xs-12 well-gray">
        <div class="well-padding">
            2005 - 2010 <span style="color:gray;">| Freelance</span>
            <h4>Web design, Graphic design, Animations</h4>
        </div>
    </div>
    <!--Text-->
    <div class="col-sm-8 col-xs-12">
        <div class="well-padding">
            <!--Content-->
            <p> First projects in the field of web and graphic design. As a student, I have worked on client projects. My early works included print design, printed advertisement and marketing services. </p>
        </div>
    </div>
</div>
<style>
    .black-link{
        margin-bottom: 20px !important;
    }
</style>