<!--

FAQ

-->

{% include elements/heading.html %}

    <div class="col-sm-12 col-xs-12">

            <h4>What's your experience?</h4>
            <p>I have more than 10 years of experience. During this time I have worked on many different projects from small websites to large data applications.</p>

        <br>
    <hr>
    <br>
            <h4>What designs do you do?</h4>
            <p>I am working on product design for digital products. Like desktop and mobile apps, IoT applications...</p>

        <br>
    <hr>
    <br>
            <h4>Do you know HTML/CSS?</h4>
            <p>Yes, I am a huge fan of CSS3. Documentation is a must.</p>

        <br>
    <hr>
    <br>
            <h4>Did you work with CMS?</h4>
            <p>Yes, I deliver some custom made products, themes, and layouts for a standard solution. I worked with - Wordpress - Prestashop - Shopify - Drupal</p>

        <br>
    <hr>
    <br>
            <h4>Which tools are important to you?</h4>
            <p>I like to work with XD, PS, AI, Brackets But as a team Gitlab, Slack</p>

        <br><br>
        <a href="/faq/design" class="button" title="Read more">Discover more</a>
    </div>