<!--

Back button for portfolio

Button goes back to portfolio page
Content: Icon + Text

-->

<a class="btn-back" href="{{ site.baseurl }}/{{ include.link }}/" title="Go back">
    <div class="arrow-left">
    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-left" class="svg-inline--fa fa-arrow-left fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z"></path></svg>
    </div>
</a>

<style>

.arrow-left {
    width: 24px;
    height: 48px;
    display: block;
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: center;
    float: left;
    text-align: left;
    line-height:52px;   
    }
    
.arrow-left .fa-arrow-left{
     width: 16px;
    height: 16px;
    }


</style>