<!--

Button

Has no target or action its just dummy element used as graphic

-->

<a href="/{{ include.link }}/" title="{% if include.title %}{{ include.title }}{% else %}{{ include.name }}{% endif %}">
    <button>
        {{ include.name }}
    </button>
</a>

