@keyframes example {
  from {background-color: #f1f1f1;}
  to {background-color: #ededff;}
}
.header-block{
  animation-name: example;
  animation-duration: 20s;
}

.header-image {
  animation: pulse 5s infinite;
  position: absolute;
  margin-top: -180px;
}

@keyframes pulse {
  0% {
      transform: rotate(0deg);
      top: 142px;
  }
      25%{
        transform: rotate(2deg);
        top: 146px;
    }
    
    50%{
        transform: rotate(-2deg);
        top: 152px;
    }
    75%{
        transform: rotate(1deg);
        top: 140px;
    }
  100% {
      transform: rotate(0deg);
      top: 142px;
  }
}