/**
 * Font styles
 */

@mixin border-gray {
    background-color: transparent;
    border: 6px solid #000;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.border-gray {
    @include border-gray;
}
