/**
 * Button styles
 *
 * Button draws as square with 6px border
 *
 * Types of buttons: 
 *       .button - class transform random element
 *       button  - styling root button element
 *       input[type="button, submit, reset"]
 *
 * :hover - Color hover overlay.
 *
 */

.btn-back {
    
    svg{
            fill: #2170a5;
        }

    b {
        padding-left: 6px;
    }

    &:hover {
        color:$color-blue;
        svg{
            fill:$color-blue;
        }
    }

    
}