/**
 * Button styles
 *
 * Button draws as square with 6px border
 *
 * Types of buttons: 
 *       .button - class transform random element
 *       button  - styling root button element
 *       input[type="button, submit, reset"]
 *
 * :hover - Color hover overlay.
 *
 */

.button,
button {
    
    @include montserat;
    @include border-gray;
    @include transition-all;
    
    display: block;
    text-align: center;
    color: #000;
    padding: 10px 20px;
    margin-bottom: 10PX;
    margin-top: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;

    &:visited {
        @extend .button;
    }

    &:hover, &:focus {
        border: 6px solid $color-bluelight;
        color: $color-blue;
    }
    &.button-blue, &.button-blue:visited {
    color: $color-bluelight;
    border: 6px solid $color-bluelight;
        &:hover{
            background:white;
        }
    }
    &.button-white, &.button-white:visited {
    color: #FFF;
    border: 6px solid #FFF;
    }
    &.button-expanded {
    width: 100%;
    }
    
    &.button-fluid {
    width:fit-content;
    }
}

input {
    &[type="reset"],
    &[type="submit"],
    &[type="button"] {
        @extend .button;
        
        &:hover{
            border: 6px solid $color-bluelight;
            color: $color-blue;
        }
        
    }
}