/**
 * Montserat
 */
@mixin montserat {
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    
}

html{
   // font-size: 18px;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: 1em;  
        
}


/**
 * Headings
 */
h1, h2 {
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-size: $heading-font-size;
    font-weight: $base-font-weight-bold;
    line-height: 34px;
    margin-bottom: 10px;
}


h3, h4, h5, h6 {
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-size: $base-font-size;
    font-weight: $base-font-weight-bold;
    margin-bottom: 10px;
}

/**
 * Card title
 */

.card-title {
    
    @include montserat;
    
    text-transform: uppercase;
    display: block;
    width: auto;
    margin: 16px 0PX;
    padding-left: 0;
    text-align: left;

}

.well .card-title {
    margin: 0PX;
}

    .pull-left{ 
        float:left;
    }
    
    .pull-right{
        text-align: right;
    }

.font-blue{
   color: $color-bluelight; 
}
