/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &.black-link {

        h1,
        h2,
        h3,
        h4,
        h5 {
            color: #1e82ff;
        }

        color:#000;

        &:visited {
            color: $text-color;
        }

        &:hover {
            color: $text-color;
            text-decoration: none;
        }
    }

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: lighten($text-color, 15%);
        text-decoration: none;
    }
}