/**
 * Lists
 */
ul, ol {
    list-style: none;
    line-height: 1.6em;
}

li {

    > ul,
    > ol {
         margin-bottom: 0;
    }
    
}

ul li::before {
        content: "\276F";  
        color: #1e82ff; 
        display: inline-block;
        position: relative;
        width: 14px;
        left: -10px;
        margin-left: 10px;
    }

.navigation li::before {
        display: none;
    }

.checkmarks li::before {
        content: "\2714";   
    }

.todo li::before {
        content: "\2610";  

    }

.well li::before {
        content: "\2022";  
        color: #cbcbcb; 
        margin-left: 5px;
    }



