/*** 
* Project card 
***/




.project-card,
.post-link {

    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);

    img {
        opacity: 0.9;
    }

    /* Transition to showing the bigger shadow on hover */
    &:hover {
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

        img {
            opacity: 1;
        }
    }
}