/**
 * Code formatting
 */

.category {
    text-align: right;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0 auto;
    background: #e8f4fa;
    padding: 10px 20px;
    
    
    h5 {
    float: left;
    line-height: 48px;
    margin: 0;
    }
    
    .category-link {
    padding: 0px 10px 0px 0px;
    display: inline-block;
    font-weight: 600;
    line-height: 48px;
        
        font-family: "Poppins", "Montserrat", "Trebuchet MS", Helvetica, sans-serif;
        color: #1e82ff;
        &:last-child {
            padding: 0 0 0 0;
        }
        &:visited {
          
        }
        &:hover {
            
        }
        &.active {
            //border-bottom: 6px solid #3a99d8;
            color: #000;
        }
    }
}

.mobile {
    display: none;
}

@media (max-width: 800px) {
    .desktop {
        display: none;
    }

    .mobile {
        display:
            inline-block;
    }
}