/**
 * Skill 
 */

.skill {
    margin-left: 0;
    list-style: none;
    width: auto;
    display: flex;
    flex-direction: row;
    flex-basis: fit-content;
    flex-wrap: wrap;

    li {
        background: #e5eaff;
        padding: 0px 15px;
        border-radius: 10px;
        margin: 4px 8px 4px 0px;
        font-size: 16px;
        border: 1px solid #cecece;
        line-height: 3em;
        text-wrap: nowrap;
        width: fit-content;

        &::before {
            display: none;
        }
    }
}