/**
 * Well styles
 */

.well{
    background-color: #FFF;
    border-radius: 4px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto 20px auto;
    
    &-gray {
        background: #f0fafe;
    }
    
    &-blue{
        background-color: #0095dc;
        color: #FFF;
    }
    
    &-padding{
        padding: 24px 20px;
        display: block;
    }
    
    &-img-nopadding {
        width: 100%;
        height: auto;
        align-content: stretch;
        object-fit: cover;
        padding: 0;
        padding-left:0px !important;
        padding-right:0px !important;
    }
}
