/**
 * Wrapper
 */

.wrapper .row {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    @extend .clearfix;
.row{
     padding-right: 0vw;
        padding-left: 0vw;
}

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width: calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: 8vw;
        padding-left: 8vw;
    }
}