---
layout: default
---

<!--

Loop for category page
folder: _category
url: /category/ux-portfolio

-->

{% include nav/nav-category-all.html %}


<div class="categories">

    <div class="home">
  <div class="post-list row">
    <!--Loop for posts in page categories-->
    {% for post in site.categories[page.tag] %}
    
      <section>
        <!--Made a loop with img, title, excerpt-->
        {% include articles/article-col4-one.html %}
      </section>
    {% endfor %}
</div>

</div>