---
layout: default
---
<!--

Site display white paper like page

- Layout is used as the deatil of project
- Page variables :
    - page.content
    - page.title
    - post.img-content

-->

<!--Resume navigation-->
{% include nav/nav-category-resume.html %}

<section class="row">
            <p>{% include elements/date.html %}</p>
            <br/><br/><h1> {{ page.title }} </h1>
            <p>{{ page.description }}</p>
</section>
<hr style="max-width: 100px; border-color: #1e82ff; text-align: center;"/>
<section class="row">
<h5>Responsibilities</h5>
<ul class="skill">
                    {% for responsibility in page.responsibilities %}
                    <li>{{ responsibility }}</li>
                    {% endfor %}
                </ul>
</section>

<section>
<div class="row well">
    <!--First collumn-->
    <div class="col-sm-7 col-xs-12 ">
        <div class="well-padding">
            {{ page.video }}
            <!--Content-->
            <p>{{ page.content }}</p>

        </div>
    </div>

    <!--Second collumn-->
    <div class="well-gray col-sm-5 col-xs-12">
            <div class="well-padding">
                <!--Content-->
                <img src="{{ page.logo }}" style="width:90px; padding-bottom:20px;" /><br />
                <h4>About {{ page.client }}</h4>
                <p>{{ page.about }}</p>

                <h4>Project description</h4>
                <p>{{ page.projects }}</p>

                <!--Current category-->
            </div>
    </div>
</div>
</section>

{% if page.url == '/ux-design-resume/yotta/' %}
{% include recomendation.html %}
{% endif %}

<section class="row">
<h5 class="col-sm-12">Projects for {{ page.client }}</h5>
<!--Related posts-->
{% include loops/loop-articles-category.html %}
</section>