---
layout: compress
---
<!--

Default composer
Content of composer is with row wrapper 

- Page composing layouts:
    - head
    - header
    - footer

-->
<!DOCTYPE html>
<html lang="en">

<!--Head import-->
{% include head.html %}

<body>

    <!--Main site navigation-->
    {% include header.html %}

    
    
    <!--Wrapper and transition-->
    <div class="scrool-box">
    <div class="wrapper m-scene" id="main">
        <div class="scene_element scene_element--fadein">
            <!-- Main Widget Zone -->
            {{ content }}
        </div>
    
    {% include footer.html %}
        </div>
    </div>
</body>

</html>

<style>

.scrool-box::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.scrool-box::-webkit-scrollbar-thumb {
  background: #32aae1;
  border-radius: 10px;
}
.scrool-box::-webkit-scrollbar-track {
  background: transparent;
}
</style>