---
layout: default
---
<!--

Site display white paper like page

- Layout is used as the deatil of project
- Page variables :
    - page.content
    - page.title
    - post.img-content

-->

<!--Resume navigation-->
{% include nav/nav-category-faq.html %}
<div class="row">
<div class="col-md-4 col-xs-12" >
{{ page.content }}
</div>

<section class="col-md-8 col-xs-12 well-padding">
<!--Related posts-->
{% include loops/loop-articles-category-faq.html %}
</section>
    
</div>