---
layout: default
---
<!--

Site display white paper like page

- Layout is used as the deatil of project
- Page variables :
    - page.content
    - page.title
    - post.img-content

-->

<!-- Navigation for portfolio -->
{% include nav/nav-category-faq.html %}


    <section class="row col-sm-12 col-xs-12">
        <!--Post title-->

            <h2>{{ page.title }}</h2>
        <!--Content-->
         <p>{{ page.content }}</p>
    </section>


    
<!--Related posts-->
{% include loops/loop-relatedpost-faq.html %}
