---
layout: default
---
<!--

Site display as gallery

- Layout is used as the deatil of project
- Page variables :
    - page.excerpt
    - page.title
    - post.img
    - post-img-2

-->

{% include nav/nav-category-gallery.html %}

{% for cat in site.category-list %}

  {% for page in site.pages %}
    {% if page.resource == true %}
      {% for pc in page.categories %}
        {% if pc == cat %}
          <a class="black-link post-link row well" href="{{ page.url | prepend: site.baseurl }}">
            <!--Text-->
            <section class="col-sm-4 col-xs-12 first-xs">
                <div class="well-padding">
                <h4> {{ page.title }} </h4>
                <p>{{ page.description }}</p>
                <button>Discover more</button>
                </div>
            </section>
            
            <!--Picture 1-->
            <img class=" well-img-nopadding  first-sm" src="{{page.img}}" />
            
            <!--picture 2-->
            <img class="well-img-nopadding  first-sm" src="{{page.img-2}}" />
        </a>
        {% endif %}   <!-- cat-match-p -->
      {% endfor %}  <!-- page-category -->
    {% endif %}   <!-- resource-p -->
  {% endfor %}  <!-- page -->

{% endfor %}  <!-- cat -->
<style>
    .post-link img{
            opacity:0.9;
        transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
    }
    .post-link:hover img{
            opacity:1;
    }

/* Transition to showing the bigger shadow on hover */
.post-link:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
    

</style>
