---
layout: default
---

<section class="row">
    
    <div class="col-sm-7  col-xs-9">
        <span class="well-padding">
            <h2>UX DESIGN</h2>
            <p> Digital designer with passion for online products such as<b> web applications, mobile apps, websites and product identities.</b><br />
                <br /> I design and develop online products with a<b> focus on user experience,</b> usability and simplicity.</p><br />
         
            {% include elements/btn.html 
            
                name="Discover more" 
                link="about" 
            %}
       
        </span>
    </div>
    
    <div class="col-sm-5 col-xs-3">
            <img class="img-nopadding" src="/images/homepage/head4.webp" style="float:right;" />
    </div>
    
    <img src="/images/logos/clients.webp" class="col-sm-12  col-xs-12" />
</section>