---
layout: default
---
<!--

Site display white paper like page

- Layout is used as the deatil of project
- Page variables :
    - page.content
    - page.title
    - post.img-content

-->

<!-- Navigation for portfolio -->
{% include nav/nav-category-portfolio.html %}
  
<!--Content-->
<div class="portfolio-post row">
    
    <!--First collumn-->
    <section>
        <img class="hero" src="{{ page.hero }}" alt="{{ page.imgdsc1 }}" />
    </section> 
    <hr style="max-width: 100px; border-color: #1e82ff; text-align: center;"/>
    <section class="text">
        <!--Post title-->
        <h2>{{ page.title }}</h2>

        <!--Content-->
        <p>{{ page.description }}</p>
        {{ page.excerpt }}
        
        <h3 id="my-work">Gallery:</h3>
    </section>
    
    <section>
            {% include gallery/gallery.html %}
    </section>
    
    <section class="text">
            <span>{{ page.content | remove: page.excerpt }}</span> 
        <img class="" src="{{page.img8}}" />
        <figcaption>{{ page.imgdsc8 }}</figcaption>
        <br />
        <br />
        
    </section>
    
    
    
</div>
    
<!--Related posts-->
{% include loops/loop-relatedpost.html %}

<style>
    .portfolio-post.row {
    box-shadow: 0 -1px 10px rgba(0,0,0,0.05), 0 1px 4px rgba(0,0,0,0.1), 0 10px 30px #f3ece8;
    border-radius: 0.2em 0.2em 0 0;
    padding: 0;
    margin-bottom: 20px !important;
}
    .hero{ width: 100%; object-fit: contain; max-height: 600px; }
    section{  }
    section.text{ padding: 30px 6% 0 6%; width:100%;}
</style>