---
layout: default
---
<!--

Site display loop of posts for product second step of portfolio

- Layout is used as the deatil of project
- Page variables :
    - page.content | remove: page.exerpt
    - page.title
    - post.img-content

-->

<!-- Navigation -->
{% include nav/nav-category-portfolio.html %}

<section class="row">

        <!-- Box 1-->
        <div class="col-sm-12 col-xs-12">
            
            <!--Title-->
            <h1>{{ page.title }}</h1>
            
            {% assign contentArray = page.content | markdownify | split: site.excerpt_separator %}
            {{ contentArray.last }}

        </div>
    <hr style="max-width: 100px;border-color: #1e82ff;text-align: center;display: block;width: 100%;height: 1px;position: relative;"/>
     <div class="col-sm-12 col-xs-12">
   <h5>Client projects</h5>
   </div>
       
   {% include loops/loop-articles-category.html %} 
</section>


<style>

    .black-link{
        margin-bottom:20px !important;
    }
</style>