---
layout: default
---
<!--

Site display as resume landing page

-->

<style>

.arm-left {
    position: absolute;
    left: -12vw;
    top: 0;
    display: block;
    width: 30vw;
    height: 300px;
}
    
    .arm-right {
    position: absolute;
    right: -12vw;
    top: 200px;
    display: block;
    width: 30vw;
}
    .text {
    width: 60vw;
    margin: 0 auto;
    text-align: center;
}
    
        .testimonial {
    font-style: italic;
    font-size: 28px;
    font-weight: 100;
            margin: 0 auto;
}
</style>

<section style="background: #ededff;">
    <div class="row">
            <img class="arm-left" src="/images/what/arm-left.svg" />
   <div class="text">
    <h1>Your Project is in Expert Hands. Let's design!</h1>
    <p>With over 15 years of experience in visual design, I create designs that are not only visually stunning but also function seamlessly from the ground up. Every project benefits from my expertise in delivering high-quality, user-centered solutions.</p>
</div>

            <img class="arm-right" src="/images/what/arm-right.svg"/>

    </div>
</section>



<section style="background: #ededff;">
    <div  class="row">
    {% include components/resume-experience.html title="PAST EXPERIENCE" %}

    </div>    </section>

<section style="background: #ededff;">
    <div class="row">
        <h2>What I am focusing on</h2>
    {% include components/resume-tools.html %}
        </div>
</section>

<section style="background: #ededff;">
    <div  class="row">
    {% include components/resume-education.html title="EDUCATION" %}
</div>    </section>

<section style="background: #F8F8FA;">
<div class="row">
   {% include elements/heading.html 
    title="Portfolio"
    text="Explore a selection of my work, showcasing engaging, functional, and impactful designs that drive real results."
%}
    {% include loops/loop-articles-limited.html %}
    <a class="button button-expanded" href="/ux-portfolio/" title="Visit my portfolio"> See More of My Work</a>
    </div>
</section>
