---
layout: default
---
<section class="header-block" style="background: #ededff; background:linear-gradient(rgba(237,237,255,.9), rgba(237,237,255,.9)), url(/images/assets/clouds.gif);background-size: 100% auto;">
    <div class="row">
    <div class="col-sm-6 col-xs-12">
    <h1>Let's create <span class="font-blue">Smashing UX Design</span> for Your Products!</h1>
    <p>I help you unlock your business potential by creating seamless and intuitive user experiences. Whether it's a web or iOS app, I craft products that not only engage but also delight your users.</p>

    {% include elements/btn.html 
        name="Discover more" 
        link="ux-design-resume" 
        title="Explore my expertise"
    %}
</div>
    <div class="col-sm-6 col-xs-12 ">
        <figure class="header-image plane">
            <img class="img-nopadding display-notmobile" src="/images/assets/uxmichal-elevate-your-product-design.svg" alt="Elevate your product design" style="height:100%;" />
        </figure>
    </div>
    </div>
</section>

<section>
   <div class="row">
       <div class="col-sm-12 col-xs-12 ">
       <h1>Let's make it happen!</h1>
           <p>At UXMichal.com, I transform concepts into reality by taking your ideas from initial design to a fully functional product.</p>
       </div>
       <div class="col-sm-4 col-xs-12 box" style="padding: 10px;">
        <figure class="">
            <img class="img-nopadding" src="/images/what/uxmichal-transform-design-concepts.png" style="height:100%;" alt="UXMichal.com | Transform concepts to reality"/>
        </figure>
           <h2>Concepts</h2>
           <p>From storyboards to clear, actionable concepts, I lay the foundation for success.</p>
               <ul class="list">
                   <li>Ideas</li>
                   <li>Concepts</li>
                   <li>Storyboards</li>
               </ul>
       </div>
       <div class="col-sm-4 col-xs-12 box" style="padding: 10px;">
        <figure class="">
            <img class="img-nopadding" src="/images/what/uxmichal-rapid-prototypes-for-products.png" style="height:100%;" alt="UXMichal.com | Rapid prototypes for products"/>
        </figure>
        <h2>Prototypes</h2>
        <p>Creating rapid prototypes and wireframes to test ideas and define your product's direction.</p>
               <ul class="list">
                   <li>Wireframes</li>
                   <li>Prototypes</li>
                   <li>Gui, UX</li>
               </ul>
       </div>
       <div class="col-sm-4 col-xs-12 box" style="padding: 10px;">
        <figure class="">
            <img class="img-nopadding" src="/images/what/uxmichal-deliver-working-products.png" style="height:100%;" alt="UXMichal.com | Develop and deliver working products"/>
        </figure>
           <h2>Development</h2>
           <p>Bringing visual designs to life while ensuring a seamless user experience with branding and identity development.</p>
               <ul class="list">
                   <li>Visual design</li>
                   <li>Identity</li>
                   <li>Branding</li>
               </ul>
       </div>
    </div>
</section>

<section>
     <div class="row">
    {% include components/about-what.html 
    
            title="Design and Development" 
            text="I specialize in creating online products that focus on user experience, usability, and simplicity. My expertise lies in application prototypes and high-performance front-end design."
    %}
       </div>
</section>

<section style="background: #F8F8FA;">
<div class="row">
   {% include elements/heading.html 
    title="Portfolio"
    text="Explore a selection of my work, showcasing engaging, functional, and impactful designs that drive real results."
%}



    {% include loops/loop-articles-limited.html %}
    
    
    <a class="button button-expanded" href="/ux-portfolio/" title="Visit my portfolio"> See More of My Work</a>
    </div>
</section>

<section  style="background: #ededff;">
    <div class="row">

    {% include elements/heading.html 
            
            title="Helping Clients to Succeed!"
            text="I’m passionate about creating meaningful experiences, both digital and non-digital. To guarantee exceptional quality and attention to detail, I work with a select group of clients at a time. My commitment to each project ensures that every client receives personalized attention and that every project achieves outstanding results and satisfaction."
            
    %}

    <div class="col-sm-12  col-xs-12">
        <img src="/images/logos/clients.webp" />
    </div>
        </div>
</section>